<% current_user.generate_otp_secret unless current_user.otp_auth_secret? %>

<% unless current_user.otp_enabled? %>
  <hr>
  <p><%= I18n.t('explain', :scope => 'devise.otp.token_secret') %></p>
  <%= otp_authenticator_token_image(current_user) %>
  <br/>
  <!--
  <p>
    <strong><%= I18n.t('manual_provisioning', :scope => 'devise.otp.token_secret') %>:</strong>
    <code><%= resource.otp_auth_secret %></code>
  </p>
  -->
<% end %>

<% if current_user.otp_enabled? %>
  <%- if recovery_enabled? && current_user.otp_enabled_on > 10.minutes.ago %>
    <div class="well" style="margin: 20px auto;">
      <h4><%= I18n.t('title', :scope => 'devise.otp.otp_tokens.recovery') %></h4>
      <p><%= I18n.t('explain', :scope => 'devise.otp.otp_tokens.recovery') %></p>
      <p><%= link_to I18n.t('codes_list', :scope => 'devise.otp.otp_tokens.recovery'), recovery_otp_token_for(resource_name) %></p>
      <p><%= link_to I18n.t('download_codes', :scope => 'devise.otp.otp_tokens.recovery'), recovery_otp_token_for(resource_name, format: :text) %></p>
    </div>
  <% end %>

  <%= render :partial => 'trusted_devices' if trusted_devices_enabled? %>
  <hr>
  <p>
    <%= I18n.t('reset_explain', :scope => 'devise.otp.token_secret') %>
    <strong><%= I18n.t('reset_explain_warn', :scope => 'devise.otp.token_secret') %></strong>
  </p>
  <p><%= button_to I18n.t('reset_otp', :scope => 'devise.otp.token_secret'), @resource, :method => :delete, :data => { "turbo-method": "DELETE" }, class: "btn btn-danger" %></p>  
<% else %>
    <%= form_for(current_user, :as => resource_name, :url => validate_otp_path, :html => { :method => :post, "data-turbo" => false }) do |f| %>

      <%= f.hidden_field :challenge, {:value => @challenge} %>
      <%= f.hidden_field :recovery, {:value => @recovery} %>

      <% if @recovery %>
        <p>
          <%= f.label :token, I18n.t('recovery_prompt', :scope => 'devise.otp.submit_token') %><br />
          <%= f.text_field :otp_recovery_counter, :autocomplete => :off, :disabled => true, :size => 4, class: "form-control" %>
        </p>
      <% else %>
        <p>
          <%= f.label :token, I18n.t('prompt', :scope => 'devise.otp.submit_token') %><br />
        </p>
      <% end %>

      <%= f.text_field :token, :autocomplete => :off, :autofocus => true, :size => 6, :value => '', class: "form-control" %><br>
      <%= f.submit "Enable Two-Factor Authentication", class: "btn btn-primary form-control" %><br>
    <% end %>
<% end %>
