= form_for(resource, as: resource_name, url: form_path, html: { method: :put }) do |f|
  - if form_path.include?('unsubscribe')
    .col-md-8.col-md-offset-2
      = f.label :email
      = link_to "Login to change email and other settings", edit_user_registration_path, class: "s-delete", style: "opacity: 100%;margin-left: 5px;"
      = f.email_field :email, class: "form-control disabled", disabled: 'disabled'
      %br
  - else
    .col-md-4.col-md-offset-2
      = f.label :first_name
      = f.text_field :first_name, class: "form-control"
      %br

    .col-md-4
      = f.label :last_name
      = f.text_field :last_name, class: "form-control"
      %br
      .clearfix

    .col-md-8.col-md-offset-2
      = f.label :email
      = f.email_field :email, class: "form-control disabled", disabled: 'disabled'
      .clearfix
      %div{style: "margin-top: 10px;"}
        %em{style: "color: #666;"}
          %span<> Visit
          = link_to "Account Security", security_path, class: "s-delete", style: "opacity: 100%;margin-left: 5px;"
          to change your email, password, or delete your account.
      %br

  .col-md-8.col-md-offset-2
    %div
      = label_tag "Days to send emails"
      %br
      -if user.is_free?
        - add_class = "disabled"
      - %w(Sun Mon Tue Wed Thu Fri Sat).each do |day|
        - if user.frequency && user.frequency.include?(day[0..2])
          = check_box_tag "frequency[#{day}]", 1, {checked: "checked"}
        - else
          - if add_class == "disabled" && day != "Sun"
            = check_box_tag "frequency[#{day}]", 0, false, disabled: "true", title: "Payment required"
          - else
            = check_box_tag "frequency[#{day}]"
        %span.s-day-email= label_tag "frequency_#{day}", day
        &nbsp;&nbsp;
      .clearfix
      -if user.is_free?
        %strong= link_to "Subscribe to PRO to change frequency.", subscribe_path, class: "alert-link"
        Free accounts are limited to 1 email every other week.
        %br
      %br

  .col-md-4.col-md-offset-2
    = f.label :send_time
    = f.time_select :send_time, {combined: true, minute_interval: 60, ampm: true, include_seconds: false }, class: "form-control"
    %br

  .col-md-4
    = f.label :send_timezone, "Timezone"
    = f.time_zone_select :send_timezone, ActiveSupport::TimeZone.us_zones, {}, {class: 'form-control'}
    %br

  - unless form_path.include?('unsubscribe')
    .col-md-8.col-md-offset-2
      .well{style: 'background-color: hsla(40, 33%, 96%, 1); padding: 15px 20px;'}
        %div{style: "margin-bottom: 5px;"}
          = f.check_box :send_past_entry
          = f.label :send_past_entry, "Include past entries in emails and prevent entries that have:"
        - if user.is_pro?
          = f.text_field :past_filter, class: "form-control", placeholder: "Comma-separated words to prevent showing up in past entries."
          - if user.past_filter.present?
            %small
              = link_to pluralize(user.past_filter_entry_ids.length, "entry"), search_path(search: { term: user.past_filter.split(',').map(&:strip).join(" OR ") })
              being filtered out of past entries.
            %br
        - else
          = f.text_field :past_filter, class: "form-control disabled", placeholder: "Comma-separated words to prevent in past entries", readonly: "readonly", value: "", rel: "tooltip", title: "Upgrade to PRO for this feature."

        - if user.is_pro? && user.entries.where("date < (?)", 1.year.ago).any?
          %div{style: "margin-top: 8px;"}
            = f.check_box :way_back_past_entries
            = f.label :way_back_past_entries, "Include past entries that are over a year old", style: "font-weight: normal;"

      - if user.is_pro?
        .well{style: 'background-color: hsla(40, 33%, 96%, 1); padding: 15px 20px;'}
          %div{style: "margin-bottom: 5px;"}
            .div{style: "margin-bottom: 10px;"}
              %strong Associate dates to your tags to see the relative age in your posts
              %br
              %small This works great for seeing how old kids were in your posts, anniversaries, time in quarantine, etc.
            = f.fields_for :hashtags do |s|
              %div{style: "margin-bottom: 5px;"}
                %strong #
                = s.text_field :tag, placeholder: "e.g. Anniversary", class: "form-control", style: "width: 45%; display: inline-block;"
                = s.text_field :date, value: s.object.date_format_short, placeholder: "e.g. Jan 1, 2020", class: "pickadate form-control", style: "width: 45%; display: inline-block;"
            .clearfix

  .clearfix

  .col-md-8.col-md-offset-2
    = f.submit "Update Settings", class: "btn btn-primary form-control"

  - if form_path.include?('unsubscribe')
    .col-md-12.center
      %br
      %button{name: "unsub_all", type: "submit", value: "yes", class: "s-unsubscribe"}
        Unsubscribe from all emails
  - else
    .col-md-12.center
      %br
      = link_to "Delete Account", security_path, class: "s-delete"

  .clearfix
