- title 'Edit account on Dabble Me'

.row
  .col-md-6.col-md-offset-3
    %h3 User Settings
    %br

  .col-md-6.col-md-offset-3
    Post new entries by emailing
    =mail_to "#{@user.user_key}@#{ENV['SMTP_DOMAIN']}", "#{@user.user_key}@#{ENV['SMTP_DOMAIN']}", :encode=>"hex"
    %hr

  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    - if @user.errors.present?
      .col-md-6.col-md-offset-3
        .alert.alert-danger= devise_error_messages!

    .col-md-3.col-md-offset-3
      = f.label :first_name
      = f.text_field :first_name, :class => "form-control"
      %br

    .col-md-3
      = f.label :last_name
      = f.text_field :last_name, :class => "form-control"
      %br
      .clearfix

    .col-md-6.col-md-offset-3
      %div
        = label_tag "Days to send emails"
        %i (uncheck all to unsubcribe)
        %br
        - %w(Sun Mon Tue Wed Thu Fri Sat).each do |day|
          - if current_user.frequency.include?(day[0..2])
            = check_box_tag "frequency[#{day}]", 1, {:checked => "checked"}
          - else
            = check_box_tag "frequency[#{day}]"
          %span.s-day-email= label_tag "frequency_#{day}", day
          &nbsp;&nbsp;
        .clearfix
        %br
      
    .col-md-3.col-md-offset-3
      = f.label :send_time
      = f.time_select :send_time, {:combined => true, :minute_interval => 60, :ampm => true, :include_seconds => false }, :class => "form-control"
      %br

    .col-md-3
      = f.label :send_timezone, "Timezone"
      = f.time_zone_select :send_timezone, ActiveSupport::TimeZone.us_zones, {}, {:class => 'form-control'}
      %br

    .col-md-6.col-md-offset-3
      = f.check_box :send_past_entry
      = f.label :send_past_entry
      %br
      %br
    .clearfix

    .col-md-6.col-md-offset-3
      = f.submit "Update", :class=>"btn btn-primary form-control"

    .col-md-6.col-md-offset-3
      %br
      %hr
      %br

    .col-md-6.col-md-offset-3
      = f.label :email
      = f.email_field :email, :class => "form-control"
      %br

    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      .col-md-6.col-md-offset-3
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    
    .col-md-3.col-md-offset-3
      = f.label :password, "New Password"
      = f.password_field :password, autocomplete: "off", :class => "form-control"
      %br
    
    .col-md-3
      = f.label :password_confirmation, "New Password Confirmation"
      = f.password_field :password_confirmation, autocomplete: "off", :class => "form-control"
      %br

    .col-md-6.col-md-offset-3
      = f.label :current_password
      %i (to confirm your changes)
      = f.password_field :current_password, autocomplete: "off", :class => "form-control"
      %br
      .clearfix

    .col-md-6.col-md-offset-3
      = f.submit "Update", :class=>"btn btn-primary form-control"

    .col-md-12.center
      %br
      =link_to registration_path(resource_name), class: "s-delete j-delete-user", data: { confirm: "Are you sure? There is no undo." }, method: :delete do
        %h5 Delete your account & all associated entries
      %br
