- title 'Edit account on Dabble Me'

.row
  .col-md-8.col-md-offset-2
    .alert.alert-warning
      -if current_user.is_pro?
        Thanks for subscribing to
        = link_to(current_user.plan_name, subscribe_path, class: "alert-link") + "."
        - if current_user.plan_type.present?
          Manage your subscription at
          %strong= current_user.plan_type.html_safe + "."
      - else
        =link_to subscribe_path, class: "float-left" do
          %button.btn.btn-warning Subscribe Now
        %strong Dabble Me PRO
        for $3/mo unlocks premium features like changing the frequency of emails, adding/editing entries via the web, adding a photo, rich formatting, and search.
    %hr
    %strong
      %span{style: "margin-right: 5px;"}
        Your post-by-email unique address to send new entries is
      %code
        =mail_to "#{@user.user_key}@#{ENV['SMTP_DOMAIN']}", "#{@user.user_key}@#{ENV['SMTP_DOMAIN']}", encode: "hex", target: "_blank", style: "color: #a41100;"
    %hr

  = render partial: 'user_settings', locals: { form_path: registration_path(resource_name) }

  .col-md-12.center
    %br
    %br
    #export.col-md-8.col-md-offset-2.alert.alert-info
      Export all entries as
      %strong=link_to "TXT", export_entries_path(:txt), style: "text-decoration: underline;"
      (plain text)
      or
      %strong=link_to "JSON", export_entries_path(:json), style: "text-decoration: underline;"
      (rich formatting).
      -if current_user.is_pro? && current_user.entries.only_images.any?
        Export a
        %strong=link_to("list of your Image URLs", export_entries_path(:txt, only_images: true), style: "text-decoration: underline;") + "."
        You can use a script or app to download these to your computer.