- title 'Edit account on Dabble me.'

.row
  .col-md-8.col-md-offset-2
    %h3 SETTINGS AND SUBSCRIPTION
    %br

.row
  .col-md-8.col-md-offset-2
    -if current_user.is_pro?
      .alert.alert-info.force-links
        Thanks for subscribing to
        = link_to(current_user.plan_name, subscribe_path, class: "alert-link") + "."
        - if current_user.plan_type_unlinked.present?
          Manage your subscription and payment history at&nbsp;
          %strong<>
            = link_to current_user.plan_type_unlinked, billing_path, target: :_blank
          = "."
    - else
      .alert.alert-warning.force-links
        =link_to subscribe_path, class: "float-left" do
          %button.btn.btn-warning Subscribe Now
        %strong Dabble Me PRO
        for $4/mo unlocks premium features like changing the frequency of emails, adding/editing entries via the web, adding photos, rich formatting, and search.
    %hr
    %span{style: "margin-right: 5px;"}
      %strong Your post-by-email unique address:
    %code
      =mail_to "#{@user.user_key}@#{ENV['SMTP_DOMAIN']}", "#{@user.user_key}@#{ENV['SMTP_DOMAIN']}", encode: "hex", subject: "Entry for #{Date.today.strftime('%B %-d, %Y')}", target: "_blank", style: "color: #a41100;"
    %div{style: "font-size: 13px; margin-top: 5px; margin-bottom: 0; padding-bottom: 0;"}
      You can send emails to this address, which will save as an entry to your Dabble Me account for the date sent in if the subject is blank; override the entry date by adding it to the subject in the format of YYYY-MM-DD.
    %hr

  = render partial: 'user_settings', locals: { form_path: registration_path(resource_name) }

  .col-md-12.center
    %br
    %br
    #export.col-md-8.col-md-offset-2.alert.alert-info
      Export all entries as
      %strong=link_to "TXT", export_entries_path(:txt), style: "text-decoration: underline;"
      (plain text)
      or
      %strong=link_to "JSON", export_entries_path(:json), style: "text-decoration: underline;"
      (rich formatting).
      -if current_user.is_pro? && current_user.entries.only_images.any?
        Export a
        %strong=link_to("list of your Image URLs", export_entries_path(:txt, only_images: true), style: "text-decoration: underline;") + "."
        You can use a script or app to download these to your computer.
