- title 'Edit account on Dabble Me'

.row
  .col-md-6.col-md-offset-3
    %h3 User Settings
    %br

  .col-md-6.col-md-offset-3
    %p
      Post new entries by emailing
      =mail_to "#{@user.user_key}@#{ENV['SMTP_DOMAIN']}", "#{@user.user_key}@#{ENV['SMTP_DOMAIN']}", :encode=>"hex"
    .alert.alert-warning
      -if current_user.payments.sum(:amount) > 0
        Thanks for subscribing to Dabble Me PRO!&nbsp;
        -if current_user.payments.sum(:amount) < 10
          If you're not already, I strongly encourage you to keep a monthly subscription going so the site is fully sustainable.
          =link_to "Subscribe Now", subscribe_path
      - else
        Unlock premium features like changing the frequency of emails, adding/editing entries via the web, adding photos, rich formatting, and searching your entries by
        =link_to("subscribing to Dabble Me PRO", subscribe_path)+"."

    %hr

  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    - if @user.errors.present?
      .col-md-6.col-md-offset-3
        .alert.alert-danger= devise_error_messages!

    .col-md-3.col-md-offset-3
      = f.label :first_name
      = f.text_field :first_name, :class => "form-control"
      %br

    .col-md-3
      = f.label :last_name
      = f.text_field :last_name, :class => "form-control"
      %br
      .clearfix

    .col-md-6.col-md-offset-3
      %div
        = label_tag "Days to send emails"
        %br
        -if current_user.payments.sum(:amount) == 0
          - add_class = "disabled"
        - %w(Sun Mon Tue Wed Thu Fri Sat).each do |day|
          - if @user.frequency.include?(day[0..2])
            = check_box_tag "frequency[#{day}]", 1, {:checked => "checked"}
          - else
            - if add_class == "disabled" && day != "Sun"
              = check_box_tag "frequency[#{day}]", 0, false, :disabled => "true", :title => "Payment required"
            - else
              = check_box_tag "frequency[#{day}]"
          %span.s-day-email= label_tag "frequency_#{day}", day
          &nbsp;&nbsp;
        .clearfix
        - if add_class == "disabled"
          =link_to "Subscribe to PRO", subscribe_path, class: "alert-link"
          to unlock the ability to change delivery days.
        %br
        %br
      
    .col-md-3.col-md-offset-3
      = f.label :send_time
      = f.time_select :send_time, {:combined => true, :minute_interval => 60, :ampm => true, :include_seconds => false }, :class => "form-control"
      %br

    .col-md-3
      = f.label :send_timezone, "Timezone"
      = f.time_zone_select :send_timezone, ActiveSupport::TimeZone.us_zones, {}, {:class => 'form-control'}
      %br

    .col-md-6.col-md-offset-3
      = f.check_box :send_past_entry
      = f.label :send_past_entry
      %br
      %br
    .clearfix

    .col-md-6.col-md-offset-3
      = f.submit "Update", :class=>"btn btn-primary form-control"

    .col-md-6.col-md-offset-3
      %br
      %hr
      %br

    .col-md-6.col-md-offset-3
      = f.label :email
      = f.email_field :email, :class => "form-control"
      %br

    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      .col-md-6.col-md-offset-3
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    
    .col-md-3.col-md-offset-3
      = f.label :password, "New Password"
      = f.password_field :password, autocomplete: "off", :class => "form-control"
      %br
    
    .col-md-3
      = f.label :password_confirmation, "New Password Confirmation"
      = f.password_field :password_confirmation, autocomplete: "off", :class => "form-control"
      %br

    .col-md-6.col-md-offset-3
      = f.label :current_password
      %i (to confirm your changes)
      = f.password_field :current_password, autocomplete: "off", :class => "form-control"
      %br
      .clearfix

    .col-md-6.col-md-offset-3
      = f.submit "Update", :class=>"btn btn-primary form-control"

    .col-md-12.center
      %br
      =link_to registration_path(resource_name), class: "s-delete j-delete-user", data: { confirm: "Are you sure? This will delete your account and #{pluralize(@user.entries.count,'entry')}. There is no undo." }, method: :delete do
        %h5 Delete your account & all associated entries
      %br

      %h4#export.col-md-6.col-md-offset-3.alert.alert-warning
        Export all entries as
        =link_to "TXT", export_entries_path(:txt)
        (plain text)
        or
        =link_to "JSON", export_entries_path(:json)
        (rich formatting).
        -if current_user.entries.only_images.length > 0 && ENV['DOWNLOADER_URL'].present?
          %br
          %br
          Export all Photos as a single
          =link_to("ZIP", export_entries_path(:zip))+"."
      %br
