- title 'Edit account on Dabble Me'

.row
  .col-md-8.col-md-offset-2
    %h3 SETTINGS
    %br

  .col-md-8.col-md-offset-2
    %p
      Post new entries by emailing
      =mail_to "#{@user.user_key}@#{ENV['SMTP_DOMAIN']}", "#{@user.user_key}@#{ENV['SMTP_DOMAIN']}", encode: "hex", target: "_blank"
    .alert.alert-warning
      -if current_user.is_pro?
        Thanks for subscribing to #{current_user.plan_name}!
      - else
        Unlock premium features like changing the frequency of emails, adding/editing entries via the web, adding a photo, rich formatting, and searching your entries by subscribing to
        =link_to("Dabble Me PRO", subscribe_path, class: 'alert-link')+"."
    %hr

  = render partial: 'user_settings', locals: { form_path: registration_path(resource_name) }

  .col-md-12.center
    %br
    - if current_user.is_pro? && current_user.plan_type.present?
      - add_text = "\r\rNOTE: YOU WILL NEED TO CANCEL YOUR SUBSCRIPTION AT #{current_user.plan_type.upcase} SEPARATELY!"
    =link_to registration_path(resource_name), class: "s-delete j-delete-user", data: { confirm: "Are you sure? This will delete your account and #{pluralize(@user.entries.count,'entry')}. There is no undo.#{add_text}" }, method: :delete do
      %h5
        Delete your account & all associated entries
    - if add_text.present?
      To downgrade or cancel your paid subscription, you'll need to do so at #{current_user.plan_type} separately!
      %br
    %br

    #export.col-md-8.col-md-offset-2.alert.alert-info
      Export all entries as
      =link_to "TXT", export_entries_path(:txt)
      (plain text)
      or
      =link_to "JSON", export_entries_path(:json)
      (rich formatting).
    %br
