- title 'Sign up for Dabble Me'

.row
  .col-md-6.col-md-offset-3.text-center{style: "margin-top: 10px;"}
    %p.lead Already have an account?
    = form_tag new_user_session_path, method: :get, class: "form-inline", id: "login-form" do
      .form-group{style: "display: flex; align-items: center; gap: 10px;"}
        = email_field_tag 'user[email]', nil, placeholder: "Email", class: "form-control", id: "login-email", required: true, style: "width: 100%;"
        = submit_tag "Login", class: "btn btn-link form-control", id: "login-button", style: "border: none; height: 43px; width: 80px;"
    %br
    %hr{style: "margin-top: 5px;"}

= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  .row
    - if @user.errors.present?
      .col-md-6.col-md-offset-3
        .alert.alert-danger= render "devise/shared/error_messages", resource: resource

    .col-md-3.col-md-offset-3
      = f.label :first_name
      = f.text_field :first_name, autofocus: true, class: "form-control", value: params[:user].try(:[], "first_name"), required: true
      %br

    .col-md-3
      = f.label :last_name
      = f.text_field :last_name, class: "form-control", value: params[:user].try(:[], "last_name"), required: true
      %br
      .clearfix

    .col-md-6.col-md-offset-3
      = f.label :email
      = f.email_field :email, class: "form-control", required: true
      %br

    .col-md-3.col-md-offset-3
      = f.label :password
      = f.password_field :password, autocomplete: "off", class: "form-control", required: true
      - if @validatable && @user.errors.present?
        %i.small
          (min #{@minimum_password_length} characters)
        %br
      %br

    .col-md-3
      = f.label :password_confirmation
      = f.password_field :password_confirmation, autocomplete: "off", class: "form-control", required: true
      %br
      .clearfix

    .col-md-6.col-md-offset-3.text-center
      - if ENV['CI'] != "true" && ENV['TURNSTILE_SITE_KEY'].present?
        = captcha_tags action: "sign-up", data: { theme: "light" }
      = f.submit "Sign up", class: "btn btn-primary form-control", style: "border: none; margin-top: 10px;"
      .clearfix
      %br
      %small.text-muted
        %center
          By signing up you agree to the
          = link_to("terms of service", terms_path) + "."
      %br
      = render "devise/shared/links"
