.row
  .col-md-8.col-md-offset-2
    %h3 Sign up
    %br
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  .col-md-8.col-md-offset-2
    = devise_error_messages!

  .col-md-8.col-md-offset-2
    = f.label :first_name
    = f.text_field :first_name, autofocus: true, :class => "form-control"
    %br

  .col-md-8.col-md-offset-2
    = f.label :last_name
    = f.text_field :last_name, :class => "form-control"
    %br    

  .col-md-8.col-md-offset-2
    = f.label :email
    = f.email_field :email, :class => "form-control"
    %br
  .col-md-8.col-md-offset-2
    = f.label :password
    - if @validatable
      %i
        (#{@minimum_password_length} characters minimum)
    = f.password_field :password, autocomplete: "off", :class => "form-control"
    %br
  .col-md-8.col-md-offset-2
    = f.label :password_confirmation
    %br
    = f.password_field :password_confirmation, autocomplete: "off", :class => "form-control"
    %br
  .col-md-8.col-md-offset-2
    = f.submit "Sign up", :class => "btn btn-primary"
    .clearfix
    %br
    = render "devise/shared/links"