- title 'Account Security Settings on Dabble Me'

.row
  .col-md-8.col-md-offset-2
    %h3 ACCOUNT SECURITY
    %br

  = form_for(user, url: registration_path(user), html: { method: :put }) do |f|
    .col-md-8.col-md-offset-2
      = f.label :email
      = f.email_field :email, class: "form-control"
      %br

    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      .col-md-8.col-md-offset-2
        Currently waiting confirmation for: #{resource.unconfirmed_email}

    .col-md-4.col-md-offset-2
      = f.label :password, "New Password"
      = f.password_field :password, autocomplete: "off", class: "form-control"
      %br

    .col-md-4
      = f.label :password_confirmation, "New Password Confirmation"
      = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
      %br

    .col-md-8.col-md-offset-2
      %label{style: 'margin-bottom: 10px;'} Additional Security
      %br
      %div{style: 'margin-bottom: 15px;'}
        %button.btn.btn-default.btn-sm#add-passkey{type: "button"}
          Add Passkey

        = link_to user_otp_token_path do
          %button.btn.btn-default.btn-sm#add-two-factor{type: "button"}
            - if current_user.otp_enabled?
              %span{class: "text-success"}
                ✅ Change Two-Factor Authentication
            -else
              Setup Two-Factor Authentication

      - if current_user.webauthn_credentials.any?
        %table.table
          %thead
            %tr
              %th Passkey
              %th Added
              %th
          %tbody
            - current_user.webauthn_credentials.each do |credential|
              %tr
                %td= credential.nickname
                %td= credential.created_at.strftime("%b %d, %Y")
                %td= link_to "Remove", passkeys_registration_path(credential), method: :delete, data: { confirm: "Are you sure?" }, class: "text-danger"

    .col-md-8.col-md-offset-2
      .well{style: 'background-color: hsla(40, 33%, 96%, 1); padding: 15px 20px;'}
        = f.label :current_password
        to confirm your changes
        = f.password_field :current_password, autocomplete: "off", class: "form-control"

    .col-md-8.col-md-offset-2
      = f.submit "Update Security", class: "btn btn-primary form-control j-edit-security", name: "submit_method", type: :submit

    .clearfix

    .col-md-8.col-md-offset-2
      %br
      - show_warning = ""
      - if current_user.is_pro? && (current_user.plan_type_unlinked != "Stripe" || current_user.stripe_id.blank?)
        - show_warning = " You will need to cancel your subscription *separately* at #{current_user.plan_type_unlinked}."
      .text-center= f.button "Delete your account along with #{pluralize(current_user.entries.count,'associated entry')}", class: "btn btn-link j-delete-user", style: "color: #a41100;", name: "submit_method", value: "delete account", type: :submit, data: { confirm: "Are you sure? This will **permanently delete** your account and #{pluralize(current_user.entries.count,'entry')}. There is no undo.#{show_warning}" }
