%p
  Dabble Me helps you remember what's happened in your life - now that you've written your first entry, you're well on your way. That's something to feel good about! If you have any questions you can send an email to
  =mail_to("hello@#{ENV['MAIN_DOMAIN']}", "hello@#{ENV['MAIN_DOMAIN']}")+"."

- if @user.send_past_entry? && @first_entry.present?
  %p
    %b Here's what you wrote...
  %p
    = simple_format(@first_entry.body)
  - if @first_entry_filepicker_url.present?
    %p
      =link_to image_tag(@first_entry_filepicker_url), @first_entry.image_url_cdn

%p
  You can check out your entry here:
  =link_to "https://#{ENV['MAIN_DOMAIN']}/past", "https://#{ENV['MAIN_DOMAIN']}/past"

- if @user.frequencies.present?
  %p
    %i
      P.S. You'll receive emails every #{@user.frequencies} at #{@user.send_time.strftime("%-I %P")} #{@user.send_timezone}.
      =link_to "Unsubscribe or Change Settings", "https://#{ENV['MAIN_DOMAIN']}/settings/#{@user.user_key}"
- else
  %p
    %i
      P.S. You have email reminders turned off, so you won't receive any further emails.
      =link_to "Change Settings", "https://#{ENV['MAIN_DOMAIN']}/settings/#{@user.user_key}"