Hey #{@user.first_name_or_fallback},
\
\
Thanks for subscribing to Dabble Me PRO. The premium features have now been unlocked for your account at #{@user.email}.
\
- if @user.frequencies == "Sun"
  Your days to receive emails are set to: #{@user.frequencies}. If you subscribed to increase the frequency of emails being sent, please make sure to edit your User Settings [https://#{ENV['MAIN_DOMAIN']}/settings/#{@user.user_key}] and check the boxes on the days you want to receive emails.
\
You'll now have access to:
* Change the frequency of your emails
* Add/edit entries via the web
* Attach photos with your entry (up to 5 per entry)
* Rich text formatting through the web interface
* Calendar View of your past entries to know you've written every day
* Search all of your past entries with support for hashtags
* Import entries from other services
\
\
Thanks,
Paul Arterburn
Creator of Dabble Me
