%p Hey #{@user.first_name_or_fallback},

%p
  Thanks for subscribing to
  =link_to("Dabble Me PRO", entries_url)+"."
  The premium features have now been unlocked for your account at #{@user.email}.

%p
  %strong FYI:
  If you subscribed to increase the frequency of emails being sent, please make sure you go in to your
  =link_to("User Settings", "https://#{ENV['MAIN_DOMAIN']}/settings/#{@user.user_key}")
  and check the boxes on the days you want to receive emails.

%p
  You'll now have access to:
  %ul
    %li
      =link_to "Change the frequency", "https://#{ENV['MAIN_DOMAIN']}/settings/#{@user.user_key}"
      of your emails
    %li Add/edit entries via the web
    %li Attach a photo with your entry (1 per entry)
    %li Rich text formatting through the web interface
    %li
      =link_to "Calendar View", entries_calendar_url
      of your past entries to know you've written every day
    %li
      =link_to "Search", search_url
      all of your past entries with support for hashtags
    %li
      =link_to "Import", import_url
      entries from other services
%p
  %br
  Thanks,
  %br
  =link_to "Paul Arterburn","https://paularterburn.com/"
  %br
  Creator of Dabble Me
