.center
  .s-entry-date
    -if entry.inspiration.present?
      .float-left.s-edit-entry{:rel=>"popover", :title=>"#{entry.inspiration.inspired_by}", :"data-content"=>"#{entry.inspiration.body}"}
        %i.fa.fa-lightbulb-o
    .float-right.s-edit-entry{:rel=>"tooltip", :title=>"Edit Entry"}
      = link_to edit_entry_path(entry) do
        %i.fa.fa-pencil-square-o
    %h2= entry.date_format_short
    %h3
      %span
        = entry.date_day
.s-scrollable
  - if entry.image_url.present?
    .pictureFrame
      =link_to entry.image_url, :target=>"_blank" do
        =image_code(entry,600)
    %br
  - if @search.present?
    = highlight(entry.body.html_safe, @search.term)
  - else
    = entry.body.html_safe
.clearfix