.center
  - if entry.exactly_past_years(current_user)
    - year_back = Time.now.in_time_zone(current_user.send_timezone).year - entry.date.year
    .label.label-past-years #{pluralize(year_back,"year").upcase} AGO
  .s-entry-date
    -if current_user.is_admin? && current_user != entry.user
      .float-left.s-edit-entry{:rel=>"popover", :title=>"#{entry.user.full_name}", :"data-content"=>"#{entry.user.email}"}
        %i.fa.fa-user
    -if entry.inspiration.present?
      .float-left.s-edit-entry{:rel=>"popover", :title=>"#{entry.inspiration.inspired_by}", :"data-content"=>"#{entry.inspiration.body}"}
        %i.fa.fa-lightbulb-o
    .float-right.s-edit-entry{:rel=>"tooltip", :title=>"Edit Entry"}
      = link_to edit_entry_path(entry) do
        %i.fa.fa-pencil-square-o
    %h2= entry.date_format_short
    %h3
      %span
        = entry.date_day
.s-scrollable
  - if entry.image_url.present?
    .pictureFrame
      =link_to entry.image_url_cdn, :target=>"_blank" do
        =image_code(entry,600)
    %br
  - if @search.present?
    = highlight(simple_format(entry.hashtag_body, {}, :sanitize => false).html_safe, @search.term)
  - else
    = simple_format(entry.hashtag_body, {}, :sanitize => false).html_safe
.clearfix

:javascript
  imagesLoaded( document.querySelector("#entry-#{entry.id}"), function( instance ) {
    $(this.elements[0]).find('.pictureFrame img').css("background-image","none");
  });