.center
  - if entry.exactly_past_years(current_user)
    - year_back = Time.now.in_time_zone(current_user.send_timezone).year - entry.date.year
    .label.label-past-years #{pluralize(year_back,"year").upcase} AGO
  .s-entry-date
    -if entry.inspiration.present?
      .float-left.s-edit-entry{rel: "popover", title: "#{entry.inspiration.inspired_by}", data: { content: "#{entry.inspiration.body.html_safe}" } }
        %i.fa.fa-lightbulb-o
    .float-right.s-edit-entry
      = link_to edit_entry_path(entry), rel: "tooltip", title: "Edit Entry" do
        %i.fa.fa-pencil-square-o
    %h2
      = link_to entry.date_format_short, day_entry_path(year: entry.date.year, month: entry.date.month, day: entry.date.day)
    %h3
      %span
        = entry.date_day.upcase
.s-scrollable
  - if @search.present?
    = highlight(format_body(entry.body), @search.term)
  - else
    = format_body(entry.body)
  = entry.spotify_embed
  - if (hashtags = entry.hashtags).present?
    %p.tags
      %strong.small Tags: 
      - hashtags.each do |tag|
        = link_to search_url(host: ENV['MAIN_DOMAIN'], search: {term: "##{tag}"}), class: "noline" do
          - if (date = current_user.hashtags.select{|h| h.tag.downcase == tag.downcase}.first&.date).present?
            %span.label.label-primary{rel: "tooltip", title: "#{distance_of_time_in_words(date, Time.now, false, highest_measures: 2)} since" }= tag
          - else
            %span.label.label-primary= tag
- if entry.image_url_cdn.present?
  .pictureFrame
    =link_to entry.image_url_cdn, target: "_blank" do
      =image_code(entry)
.clearfix

:javascript
  $("#entry-#{entry.id}").imagesLoaded()
    .done( function( instance ) {
      $(instance.elements).find('.pictureFrame img').css("background-image","none");
    });
