- title "No Entries"

.col-md-8.col-md-offset-2
  .center
    - if current_user.created_at > 2.day.ago
      %p
        %h3 Check your email at #{current_user.email}
        %iframe{src: "//giphy.com/embed/WZ4M8M2VbauEo?html5=true&hideSocial=true", width: "480", height: "273", frameborder: "0", class: "giphy-embed", allowfullscreen: "", style: "max-width: 100%;"}
        %h4 Reply to the email from Dabble Me and you'll see it here.
        %p{style: "color: #999;"}
          You can post entries anytime by emailing
          = mail_to("#{current_user.user_key}@#{ENV['SMTP_DOMAIN']}", "#{current_user.user_key}@#{ENV['SMTP_DOMAIN']}", encode: "hex", target: "_blank", subject: "#{Time.now.in_time_zone(current_user.send_timezone).strftime('%A, %b %-d')}", body: "My first Dabble Me entry!")+'.'
    - else
      %br
      %br
      %p
        %h3 You're all signed up, but don't have any entries!
      %p
        You can post entries by emailing
        = mail_to("#{current_user.user_key}@#{ENV['SMTP_DOMAIN']}", "#{current_user.user_key}@#{ENV['SMTP_DOMAIN']}", encode: "hex", target: "_blank", subject: "#{Time.now.in_time_zone(current_user.send_timezone).strftime('%A, %b %-d')}", body: "My first Dabble Me entry!")+'.'
    .clearfix
    .s-no-entries-cta
      - if current_user.is_pro?
        = link_to "Write your first entry", new_entry_path, :class => "btn btn-primary btn-lg"
      - else

= render "entries/features", add_class: "col-md-8 entry s-no-entries-ideas col-md-offset-2"
