- title "No Entries"

.col-md-8.col-md-offset-2
  .center
    - if current_user.created_at > 2.day.ago
      %p
        %h3 You've got mail!
        %iframe{src: "//giphy.com/embed/WZ4M8M2VbauEo?html5=true&hideSocial=true", width: "480", height: "273", frameborder: "0", class: "giphy-embed", allowfullscreen: "", style: "max-width: 100%;"}
        %h4 Reply to the email from Dabble Me and you'll see it here.
        %p{style: "color: #999;"}
          You can post entries anytime by emailing
          = mail_to("#{current_user.user_key}@#{ENV['SMTP_DOMAIN']}", "#{current_user.user_key}@#{ENV['SMTP_DOMAIN']}", encode: "hex", target: "_blank", subject: "#{Time.now.in_time_zone(current_user.send_timezone).strftime('%A, %b %-d')}", body: "My first Dabble Me entry!")+'.'
    - else
      %br
      %br
      %p
        %h3 You're all signed up, but don't have any entries!
      %p
        You can post entries by emailing
        = mail_to("#{current_user.user_key}@#{ENV['SMTP_DOMAIN']}", "#{current_user.user_key}@#{ENV['SMTP_DOMAIN']}", encode: "hex", target: "_blank", subject: "#{Time.now.in_time_zone(current_user.send_timezone).strftime('%A, %b %-d')}", body: "My first Dabble Me entry!")+'.'
    .clearfix
    .s-no-entries-cta
      - if current_user.is_pro?
        = link_to "Write your first entry", new_entry_path, :class => "btn btn-primary btn-lg"
        = link_to "Import Entries", import_path, :class => "btn btn-primary btn-lg"
      - else  

- unless current_user.is_pro?
  .col-md-8.col-md-offset-2.entry.s-no-entries-ideas.well
    .center
      .s-entry-date
        %h2{style: "font-size: 18px;"} Unlock all premium features with a PRO account
        %script{:src => "https://payhere.co/embed/embed.js", :type => "text/javascript"}
        .row
          .col-md-6.col-md-offset-3.col-xs-10.col-xs-offset-1
            %a{:"href" => "#", :"data-payhere-embed" => "https://payhere.co/dabble-me/membership/dabble-me-pro-yearly", :"data-payhere-customer-name" => "#{current_user.full_name}", :"data-payhere-customer-email" => "#{CGI.escape(current_user.email)}", :"data-payhere-disable-customer" => "yes", :onclick => "window.clearTimeout(timeout);$(window).off('blur');" }
              %h4.btn.btn-success.btn-block.btn-lg{:style => "margin-bottom: 10px;"}
                $30
                %span{style: "font-size: 13px; color: #ddd"}<> ／
                year
                %br
                %span{style: "font-size: 12px; display: block;color: #307530;"} 2 months free
        %a.text-muted.small{:"href" => "#", :"data-payhere-embed" => "https://payhere.co/dabble-me/membership/dabble-me-pro-monthly", :"data-payhere-customer-name" => "#{current_user.full_name}", :"data-payhere-customer-email" => "#{CGI.escape(current_user.email)}", :"data-payhere-disable-customer" => "yes", :onclick => "window.clearTimeout(timeout);$(window).off('blur');" }
          or $3
          %span{style: "font-size: 13px; color: #ddd"}<> ／
          month
        %h3
          %span
            %i.fa.fa-rocket
    .s-scrollable
      .entry-panel     
        .s-features
          %ul
            %li
              %i.fa.fa-check
              Change the frequency & days that emails are sent
            %li
              %i.fa.fa-check
              Attach a photo to your entry (email or web)
            %li
              %i.fa.fa-check
              Import entries from other services
            %li
              %i.fa.fa-check
              Embed Spotify tracks in your entries
            %li
              %i.fa.fa-check
              Add new entries via the web
            %li
              %i.fa.fa-check
              Edit entries
            %li
              %i.fa.fa-check
              Rich text formatting
            %li
              %i.fa.fa-check
              Calendar view of all your entries
            %li
              %i.fa.fa-check
              Search all of your past entries with support for hashtags
            %li
              %i.fa.fa-check
              Year in Review
.col-md-8.col-md-offset-2.entry.s-no-entries-ideas.well
  .center
    .s-entry-date
      %h2 Looking for ideas?
      %h3
        %span
          %i.fa.fa-lightbulb-o
  .s-scrollable
    .entry-panel
      %ul
        %li
          %strong Daily Dabble
          — reflections from your day is the most popular use case of any journal. This can be a scary one to get started with. If self-reflection is overwhelming to even think about, keep reading.
        %li
          %strong Memory keeper for major events/milestones
          — we easily forget. Write it down now and the daily emails will bring you smiles when it reminds you of all your favorite moments. I started journaling when I first met my wife 5 years ago — I took 5 minutes to write about all of the dates we went on. Reading those past entries to each other has become a routine that deepens our relationship now.
        %li
          %strong Goals/Health Tracking
          — use #hashtags in your posts for easily tagging entries with your different goals or visits to different doctors.
        %li
          %strong Learning Aid
          — especially for learning to code or different college courses. The concept of past entries in your inbox is a way of reminding you what you learned that day. It makes the subject matter much more sticky so you actually remember it.
        %li
          %strong Baby’s Firsts
          — use it to track the progress of your children. Pictures go great with this one. Jot down notes and add a photo so you can easily put together a scrapbook later.
  .clearfix

.col-md-8.col-md-offset-2.entry.s-no-entries-ideas.well
  .center
    .s-entry-date
      %h2 Share the love
      %h3
        %span
          %i.fa.fa-facebook
          %i.fa.fa-twitter
  .s-scrollable
    Do you know anyone else who might benefit from a journal over email service? Perhaps they've tried other online jounral services before and stopped using them, or they're brand new to the idea and keeping it in their daily routine is just the ticket to get them onboard!
    %strong Share Dabble Me with them today!
    %p
      =link_to "https://www.facebook.com/sharer/sharer.php?u=https%3A//dabble.me", target: "_blank" do
        %button.btn.btn-primary.btn-large.btn-block.btn-facebook
          %i.fa.fa-facebook
          &nbsp;Share on Facebook
    %p
      =link_to "https://twitter.com/home?status=Having%20a%20hard%20time%20keeping%20a%20journal?%20Try%20Dabble%20Me,%20which%20works%20over%20email%3A%20https%3A//dabble.me", target: "_blank" do
        %button.btn.btn-primary.btn-large.btn-block.btn-twitter
          %i.fa.fa-twitter
          &nbsp;Share on Twitter
    .clearfix  

:javascript
  var timeout = '';
  if (document.hidden) {
    timeout = setTimeout(function() {
      location.reload();
    }, 10000);
  }

  $(window).blur(function() {
    timeout = setTimeout(function() {
      location.reload();
    }, 10000);
  });

  $(window).focus(function() {
    window.clearTimeout(timeout);
  });
