- title "No Entries"

.col-md-8.col-md-offset-2
  %br
  %br
  .center
    %p
      %h4 You're all signed up, but don't have any entries!
    %p
      %h3
        %strong You've got mail!
      %h4
        %strong Reply to the email and you'll see it here.
    %p.small
      %br
      %i 
        You can also post entries by emailing
        =mail_to("#{current_user.user_key}@#{ENV['SMTP_DOMAIN']}", "#{current_user.user_key}@#{ENV['SMTP_DOMAIN']}", encode: "hex", target: "_blank", subject: "#{Time.now.in_time_zone(current_user.send_timezone).strftime('%A, %b %-d')}", body: "My first Dabble Me entry!")+'.'
    - if current_user.is_pro?
      %br
      =link_to "Write your first entry", new_entry_path, :class => "btn btn-primary btn-lg"
      =link_to "Import Entries", import_path, :class => "btn btn-primary btn-lg"
      %br
.col-md-8.col-md-offset-2.s-no-entries.well.s-features.top40
  .center
    .s-entry-date
      %h2 Looking for ideas?
      %h3
        %span A few use cases of journaling
  .s-scrollable
    %ul
      %li
        %strong Daily Reflections
        — the most popular one. This can be a scary one to get started with. If these two words are overwhelming to even think about, keep reading.
      %li
        %strong Memory keeper for major events/milestones
        — we easily forget. Write it down now and the daily emails will bring you smiles when it reminds you of all your favorite moments. I started journaling when I first met my wife almost 5 years ago — I took 5 minutes to write about all of the dates we went on. Reading those past entries to each other has become a routine that deepens our relationship now.
      %li
        %strong Goal Tracking
        — use #hashtags in your posts for easily tagging entries with your different goals.
      %li
        %strong Learning Aid
        — especially for learning to code or different college courses. The concept of past entries in your inbox is a way of reminding you what you learned that day. It makes the subject matter much more sticky so you actually remember it.
      %li
        %strong Baby’s Firsts
        — use it to track the progress of your children. Pictures go great with this one. Jot down notes and add a photo so you can easily put together a scrapbook later.
  .clearfix

:javascript
  var timeout = '';
  if (document.hidden) {
    timeout = setTimeout(function() {
      location.reload();
    }, 10000);
  }

  $(window).blur(function() {
    timeout = setTimeout(function() {
      location.reload();
    }, 10000);
  });

  $(window).focus(function() {
    window.clearTimeout(timeout);
  });