.col-md-8.col-md-offset-1
  = render "pro_upgrade"

  %h3.visible-sm.visible-xs
    #{@title.upcase.html_safe}
    =link_to "javascript:void(0);", onclick: "$('.j-calendar').slideToggle('fast');", class: "s-toggle-calendar", style: "text-decoration: none;" do
      %span{style: "font-size: 13px; position: relative; top: -1px; "} FILTERS
      %i.fa.fa-calendar

.col-xs-11.col-sm-5.col-md-2.s-date-groups.j-calendar
  - if current_page?(latest_entry_path)
    - has_past_entries = false
    -if current_user.is_pro?
      - 5.times do |year_back|
        - year_back += 1
        - back_year_entry = current_user.entries.where(:date => (Time.now.in_time_zone(current_user.send_timezone) - year_back.years).strftime("%Y-%m-%d")).first
        - if back_year_entry.present?
          - has_past_entries = true
          %h4
            =link_to "#entry-#{back_year_entry.id}", "data-id": "#{back_year_entry.id}",  class: "j-entry-link", style: "color: #a41100;" do
              .s-date-left
                %i.fa.fa-history
                &nbsp;#{pluralize(year_back, "year").upcase} AGO
              .clearfix
      - if has_past_entries
        :javascript
          $(".j-date-header").show();

  %h3{style:"margin-bottom: 15px;"}
    =link_to entries_path, class: "#{'active' if current_page?(entries_path)}" do
      .s-date-left
        ALL
      .s-date-right
        #{format_number(current_user.entries.size)}
      .clearfix

  - if params[:emotion].present? || params[:group] == "emotion"
    - (current_user.entries.pluck(:sentiment).flatten.uniq.sort - ["unknown"]).each do |emotion|
      %h4{style: "font-size: 15px;"}
        =link_to entries_emotion_path(emotion), class: ("active" if params[:emotion] == emotion) do
          .s-date-left
            = Entry::AiTagger::EMOTIONS[emotion]
            = emotion.upcase
          .s-date-right
            = format_number(current_user.entries.where("sentiment::text LIKE '%#{emotion}%'").size)
          .clearfix
    %hr

  - if (only_images = current_user.entries.only_images.size) > 0
    %h4{style: "font-size: 15px;"}
      =link_to group_entries_path('photos'), class: "#{'active' if current_page?(group_entries_path('photos'))}" do
        .s-date-left
          %i.fa.fa-image{style: "color: #cccccc;margin-right: 2px;"}
          PHOTOS
        .s-date-right
          #{format_number(only_images)}
        .clearfix

  - spotify_entries = current_user.entries.only_spotify
  %h4{style: "font-size: 15px;"}
    =link_to spotify_path, class: "#{'active' if current_page?(spotify_path)}" do
      .s-date-left
        %i.fa.fa-music{style: "color: #cccccc;margin-right: 4px;"}
        SPOTIFY
      .s-date-right
        #{format_number(spotify_entries.size)}
      .clearfix

  - current_user.entries.group_by{|c| c.date.strftime "%Y" }.each do |year_str,year_entries|
    %h4.s-date-year
      =link_to group_entries_path(year_str), class: "#{'active' if params[:group] == year_str}" do
        .s-date-left
          = year_str.upcase
        .s-date-right
          #{format_number(year_entries.size)}
        .clearfix

    - year_entries.group_by{|c| c.date.strftime "%b" }.each do |month_str,date_entries|
      - if (!current_page?(latest_entry_path) && year_str == params[:group]) || current_page?(latest_entry_path) && year_str == Time.now.in_time_zone(current_user.send_timezone).year.to_s
        .s-date-left
          =link_to entries_calendar_path(day: year_str+"-"+month_str.to_date.strftime('%m')), class: "noline" do
            %i.fa.fa-calendar
          &nbsp;
        =link_to group_entries_path(year_str, month_str.to_date.strftime('%m')), :class => "#{'active' if params[:group] == year_str && params[:subgroup] == month_str.to_date.strftime('%m')}" do
          .s-date-left
            = month_str.upcase
          .s-date-right
            #{format_number(date_entries.size)}
          .clearfix
