- title "Calendar View"
= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"
= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.3/fullcalendar.min.js"
= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.3/fullcalendar.min.css"

- if current_user.is_free?
  .form-horizontal
  .alert.alert-warning
    =link_to "Subscribe to PRO", subscribe_path, class: "alert-link"
    to unlock the ability to see your existing entries on the calendar.

#calendar

:css
  #calendar {
    margin-top:25px;
  }
  .fc-widget-content {
    cursor:pointer;
  }

  #calendar .fc-button {
    outline: none;
  }

:javascript
  $(document).ready(function() {
      $('#calendar').fullCalendar({
        header: {
          right: 'prev,next today',
          center: '',
          left: 'title'
        },
        height: 450,
        selectable: true,
        selectHelper: true,
        select: function(start, end, allDay) {
          $(".navbar-brand i.fa-spinner").addClass("fa-spin");
          window.location.href = "#{new_entry_url}?day="+start.format('YYYY-MM-DD');
        },
        events: "#{entries_path(format:'json')}"
      })
  });

- if params[:day].present?
  :javascript
    $(document).ready(function() {
      $('#calendar').fullCalendar('gotoDate', "#{params[:day]}");
    });