- title "Edit Entry on #{@entry.date_format_long}"
- add_class = 'blur' if current_user.is_free?

.row
  %br
  -if current_user.is_free?
    .col-md-8.col-md-offset-2
      .alert.alert-warning
        =link_to "Subscribe to PRO", subscribe_path, class: "alert-link"
        to unlock the ability to edit entries.

  .col-md-8.col-md-offset-2.well.s-new-edit-entry{id: "entry-#{@entry.id}"}
    %div
      .s-entry-date.s-new-entry
        -if @entry.inspiration.present?
          .float-left.s-edit-entry{rel: "popover", title: "#{@entry.inspiration.inspired_by}", data: { content: "#{@entry.inspiration.body.html_safe}" }}
            %i.fa.fa-lightbulb-o
        .float-right.s-edit-entry{rel: "tooltip", title: "Delete this entry"}
          = link_to entry_path(@entry), class: "s-delete", method: :delete, data: { confirm: 'Are you sure you want to delete this entry? There is no undo.' } do
            %i.fa.fa-trash
        %h2= @entry.date_format_short
        %h3
          %span
            = @entry.date_day.upcase

      = form_for :entry, url: entry_path(@entry), method: :patch do |f|

        -if @entry.errors.any?
          #error_explanation
            .alert.alert-danger
              - @entry.errors.full_messages.each do |msg|
                %p= msg

        %div
          = f.label :date
          .input-group.date
            %span.input-group-addon
              %i.fa.fa-calendar
            = f.text_field :date, value: @entry.date_format_short, placeholder: "October 11 2014", class: "form-control pickadate"
          %br

        %div{class: add_class}

          - if @entry.image.present?
            %label
              = f.check_box :remove_image, class: 'j-image-remove'
              &nbsp;Remove Photo
            %br
            .pictureFrame.editable.j-image-preview
              =link_to @entry.image_url_cdn, target: "_blank" do
                =image_code(@entry)
          - else
            = f.label :image, "Photo"
            = f.file_field :image, accept: Entry::ALLOWED_IMAGE_TYPES.join(","), multiple: true
          %br

        %div{class: add_class}
          = f.label :entry
          = f.text_area :entry, class: "form-control summernote", rows: 15, value: format_body(@entry.formatted_body)

        %div
          = f.submit "Update Entry", class: "form-control btn btn-primary"

:javascript
  var summer_note = $('#entry_entry');
  summer_note.summernote({
    mode: 'text/html',
    height: 300,
    theme: 'flatly',
    disableDragAndDrop: true,
    tabDisable: false,
    focus: true,
    toolbar: [["style", ["bold", "italic", "underline", "clear"]], ["layout", ["ul", "ol"]], ['insert', ['link']], ['misc', ['fullscreen', 'codeview']]]
  });

  summer_note.summernote("code", summer_note.val())
  summer_note.closest('form').submit(function() {
    summer_note.val(summer_note.summernote("code"));
    return true;
  });

  $("#entry-#{@entry.id}").imagesLoaded()
    .done( function( instance ) {
      $(instance.elements).find('.pictureFrame img').css("background-image","none");
    });
