- title "Edit Entry on #{date_formatted(@entry)}"

.row
  .col-md-8.col-md-offset-2
    %h4
      Edit entry on #{date_formatted(@entry)}
      .float-right.s-edit-entry
        = link_to entry_path(@entry), title: "Delete this entry", class: "s-delete", method: :delete, data: { confirm: 'Are you sure you want to delete this entry? There is no undo.' } do
          %i.fa.fa-trash
    %br
  = form_for :entry, url: entry_path(@entry), method: :patch do |f|

    -if @entry.errors.any?
      #error_explanation.col-md-8.col-md-offset-2
        .alert.alert-danger
          - @entry.errors.full_messages.each do |msg|
            %p= msg

    .col-md-8.col-md-offset-2
      = f.label :date
      .input-group.date
        %span.input-group-addon
          %i.fa.fa-calendar
        = f.text_field :date, :value =>  date_formatted(@entry), :placeholder=>"YYYY-MM-DD", :class => "form-control"
      %br

    -#
      .col-md-8.col-md-offset-2
        = f.label :image_url
        = f.text_field :image_url, :class => "form-control", :placeholder => "http://url-to-your-image"
        %br

    .col-md-8.col-md-offset-2
      = f.label :entry
      = f.text_area :entry, :class => "form-control summernote", :rows => 20
      %br

    .col-md-8.col-md-offset-2
      = f.submit "Edit Entry", :class => "form-control btn btn-primary"