- title "#{@title} on Dabble me."
.row
  = render "sidebar"
  = render "search"

  .col-md-8.col-md-offset-1
    .center
      = paginate @entries

  - @entries.each do |entry|
    .col-md-8.col-md-offset-1.well.entry{:id => "entry-#{entry.id}"}
      = render partial: 'entries/entry', locals: { entry: entry }

  .col-md-8.col-md-offset-1
    .center
      = paginate @entries

  - if current_user.is_pro? && params[:group] && params[:group] =~ /\A(19|20)\d{2}\z/
    .col-md-8.col-md-offset-1
      .center
        = link_to export_entries_path(year: params[:group], format: :txt), class: "btn btn-default", style: "margin: 15px auto;" do
          %i.fa.fa-download
          Export Entries from #{params[:group]}
