- title "#{@title} on Dabble Me"
.row
  = render "sidebar"
  = render "search"

  - if params[:group] == "photos" && current_user.image_collage.present?
    .col-md-8.col-md-offset-1.well.entry
      .s-entry-date
        %h2 Your latest photos
      = link_to image_tag(current_user.image_collage, class: 'img-responsive'), current_user.image_collage, target: :_blank

  .col-md-8.col-md-offset-1
    .center
      = paginate @entries

  - @entries.each do |entry|
    .col-md-8.col-md-offset-1.well.entry{:id => "entry-#{entry.id}"}
      = render partial: 'entries/entry', locals: { entry: entry }

  .col-md-8.col-md-offset-1
    .center
      = paginate @entries
