- title "#{@title} on Dabble Me"

.row

  - if @entries.count > 0
    .col-md-8.col-md-offset-1
      %h3 #{pluralize(@entries.count,'entry')} from #{@title}

    .col-md-2.float-right.hidden-sm.hidden-xs
      %h3
        =link_to entries_path do
          .s-date-left
            All            
          .s-date-right
            #{current_user.entries.count}
          .clearfix

      - @entries.group_by{|c| c.date.strftime "%Y" }.each do |year_str,year_entries|
        =link_to entries_path(year: year_str) do
          %h4.s-date-year
            .s-date-left
              = year_str
            .s-date-right
              #{year_entries.count}
          .clearfix

        - year_entries.group_by{|c| c.date.strftime "%b" }.each do |month_str,date_entries|
          =link_to entries_path(year: year_str, month: month_str.to_date.strftime('%m')) do
            .s-date-left
              = month_str
            .s-date-right
              #{date_entries.count}
            .clearfix
      
    .col-md-8.col-md-offset-1
      %hr

  - else
    .col-md-8.col-md-offset-2
      %br
      %br
      .center
        %h4 So lonely...get to writing!
        %br
        %br
        =link_to "Write your first entry", new_entry_path, :class => "btn btn-primary btn-lg"
        =link_to "Import from OhLife", import_entries_path, :class => "btn btn-primary btn-lg"


  - @entries.each do |entry|
    .col-md-8.col-md-offset-1
      %h4.s-show-date
        = entry.date.strftime("%B %-d, %Y")
        .float-right.s-edit-entry
          = link_to edit_entry_path(entry) do
            %i.fa.fa-pencil-square-o
      %br
    - if entry.image_url.present?
      .col-md-8.col-md-offset-1.s-show-url
        .row
          =image_code(entry)
        %br
      .clearfix
    .col-md-8.col-md-offset-1.well
      = entry.body.html_safe