- title "#{@title} on Dabble Me"

.row

  - if @entries.length > 0
    .col-md-8.col-md-offset-1
      %h3 #{pluralize(@entries.length,'entry')} from #{@title}

    .col-md-2.float-right.hidden-sm.hidden-xs
      %h3
        =link_to entries_path do
          .s-date-left
            All            
          .s-date-right
            #{current_user.entries.length}
          .clearfix

      - @entries.group_by{|c| c.date.strftime "%Y" }.each do |year_str,year_entries|
        =link_to entries_path(year: year_str) do
          %h4.s-date-year
            .s-date-left
              = year_str
            .s-date-right
              #{year_entries.length}
          .clearfix

        - year_entries.group_by{|c| c.date.strftime "%b" }.each do |month_str,date_entries|
          =link_to entries_path(year: year_str, month: month_str.to_date.strftime('%m')) do
            .s-date-left
              = month_str
            .s-date-right
              #{date_entries.length}
            .clearfix
      %br
      - if (only_imgages = current_user.entries.only_images.length) > 0
        =link_to entries_path(images: true) do
          %h4
            .s-date-left
              Photos
            .s-date-right
              #{only_imgages}
          .clearfix        
        %br
      %h4
        Export all entries as
        =link_to "TXT", export_entries_path(:txt)
        or
        =link_to "JSON", export_entries_path(:json)

    .col-md-8.col-md-offset-1
      %br

  - else
    .col-md-8.col-md-offset-2
      %br
      %br
      .center
        %h4 So lonely...get to writing!
        %br
        %br
        =link_to "Write your first entry", new_entry_path, :class => "btn btn-primary btn-lg"
        =link_to "Import from OhLife", import_ohlife_path, :class => "btn btn-primary btn-lg"


  - @entries.each do |entry|
    %br
    .col-md-8.col-md-offset-1.well
      = render :partial => 'entries/entry', :locals => {:entry => entry}