- if @lastest_entry.present?
  - title "Latest Entry"
  .row
    - has_past_entries = false
    -if current_user.is_pro?
      .col-md-2.s-date-groups.j-date-groups.hidden-xs.hidden-sm.s-hide{style:"position:fixed; top:80px; right:60px;"}
        %h3= Time.now.in_time_zone(current_user.send_timezone).strftime("%b %-d")
        - 5.times do |year_back| 
          - year_back += 1
          - back_year_entry = current_user.entries.where(:date => (Time.now.in_time_zone(current_user.send_timezone) - year_back.years).strftime("%Y-%m-%d")).first
          - if back_year_entry.present?
            - has_past_entries = true
            %h4
              =link_to "#entry-#{back_year_entry.id}", "data-id": "#{back_year_entry.id}",  class: "j-entry-link" do
                .s-date-left
                  #{pluralize(year_back, "year").upcase} AGO
                .clearfix
        - if has_past_entries
          :javascript
            $(".j-date-groups").show();        

    - add_class = has_past_entries ? "col-md-offset-1" : "col-md-offset-2"
    .col-md-8{:class=>"#{add_class}"}
      %br
      %h4
        -if current_user.first_name.present?
          Welcome back, #{current_user.first_name}! Here's your latest entry...
        -else
          Welcome back! Here's your latest entry...
      %br

    .col-md-8.well.entry{:id => "entry-#{@lastest_entry.id}", :class=>"#{add_class}"}
      = render :partial => 'entries/entry', :locals => {:entry => @lastest_entry}

    -if current_user.is_pro?
      - 5.times do |year_back|
        - year_back += 1
        - back_year_entry = current_user.entries.where(:date => (Time.now.in_time_zone(current_user.send_timezone) - year_back.years).strftime("%Y-%m-%d")).first
        - if back_year_entry.present?
          .col-md-8.col-md-offset-1.well.entry{:id => "entry-#{back_year_entry.id}"}
            = render :partial => 'entries/entry', :locals => {:entry => back_year_entry}

    - year = 2020
    - if Date.today < Date.parse("#{year}-01-25")
      = javascript_include_tag "//www.gstatic.com/charts/loader.js", "chartkick"
      - total_count = current_user.entries.where("date >= '#{year-1}-01-01'::DATE AND date <= '#{year-1}-12-31'::DATE").count
      .col-md-8.well{:class=>"#{add_class}"}
        .center
          .s-entry-date
            %h2 Year in Review
            %h3
              %span= "#{total_count} entries in #{year-1}"
          .s-review-details
            = pie_chart({"Days With Entries": total_count, "Days Without Entires": (365 - total_count)},  height: "230px", library: {backgroundColor: "#ffffff"})
            .clearfix
            %h4
              %span= "See more stats in your "
              = link_to "#{year-1} Year in Review", review_path
              %span> !

- else
  = render partial: 'no_entries'
