- if @lastest_entry.present?
  - title "Latest Entry"
  - review_year = Date.today.month > 11 ? Date.today.year : Date.today.year - 1
  - year_in_review = Date.today > Date.parse("#{review_year}-12-05") && Date.today < Date.parse("#{review_year + 1}-01-15")

  .row
    = render "sidebar"

    .col-md-8.col-md-offset-1
      %br
      = form_for Search.new(), url: search_path, method: :get, html: { class: "form-horizontal" } do |f|
        .form-group
          .col-xs-8.col-sm-9{style: "padding-right: 0px;"}
            = f.text_field :term, class: "form-control input-lg s-search-with-clear", autofocus: true, placeholder: "Search your entries..."
          .col-xs-4.col-sm-3
            = f.submit "Search", class: "btn btn-primary btn-lg", style: "max-width: 110px;"
            = link_to random_entry_path, title: "Random Entry", rel: "tooltip", style: "width: 20%; margin-left: 15px; top: 2px; position: relative;" do
              %i.fa.fa-random

    - if year_in_review
      = javascript_include_tag "//www.gstatic.com/charts/loader.js", "chartkick"
      - total_count = current_user.entries.where("date >= '#{review_year}-01-01'::DATE AND date <= '#{review_year}-12-31'::DATE").count
      .col-md-8.well.col-md-offset-1{id: "year-in-review"}
        .center
          .s-entry-date
            %h2
              = link_to review_path do
                %span.label.label-success{style: "margin-right: 5px; position: relative;top:-5px;font-weight: normal; font-size: 11px; font-family: sans-serif;padding: 4px 6px;"} NEW
                Year in Review
            %h3
              %span= "#{total_count} entries in #{review_year}"
          .s-review-details
            = pie_chart({"Days With Entries": total_count, "Days Without Entries": (elapsed_days_in_year(review_year) - total_count)},  height: "180px", library: {backgroundColor: "#ffffff"})
            .clearfix
            %h4
              %span= "See more stats in your "
              = link_to "Year in Review", review_path
              %span> !

    .col-md-8.col-md-offset-1
      %br
      %h4
        -if current_user.first_name.present?
          Welcome back, #{current_user.first_name}.

        - if current_user.writing_streak.positive?
          %span= "You're on a #{format_number(current_user.writing_streak)} day writing streak!"
        - else
          Here's your latest entry...
      %br

    .col-md-8.well.entry.col-md-offset-1{id: "entry-#{@lastest_entry.id}"}
      = render :partial => 'entries/entry', :locals => {:entry => @lastest_entry}

    -if current_user.is_pro?
      - 5.times do |year_back|
        - year_back += 1
        - back_year_entry = current_user.entries.where(:date => (Time.now.in_time_zone(current_user.send_timezone) - year_back.years).strftime("%Y-%m-%d")).first
        - if back_year_entry.present?
          .col-md-8.col-md-offset-1.well.entry{:id => "entry-#{back_year_entry.id}"}
            = render :partial => 'entries/entry', :locals => {:entry => back_year_entry}

- else
  = render partial: 'no_entries'
