- title "New Entry on Dabble Me"

.row
  %br
  .col-md-8.col-md-offset-2.well{:id => "entry-#{@entry.id}"}

    - if @entry.exactly_past_years(current_user)
      - year_back = Time.now.in_time_zone(current_user.send_timezone).year - @entry.date.year
      .label.label-past-years #{pluralize(year_back,"year").upcase} AGO

    -if current_user.is_free? && !current_user.free_trial?
      .alert.alert-warning.well-sm
        =link_to "Subscribe to PRO", subscribe_path, class: "alert-link"
        to unlock the ability to add new entries via the web form.
      = text_area_tag :entry, @entry.body, :class => "form-control summernote disabled", :disabled => "disabled", :rows => 15
      %div
        %br
        = submit_tag "Create Entry", :class => "form-control btn btn-primary disabled", :disabled => "disabled"
    - else

      = form_for :entry, url: entries_path do |f|

        .s-entry-date.s-new-entry
          .float-left.s-edit-entry{:rel=>"popover", :title=>"Inspiration", :"data-content"=>"If you need ideas to get started just glance up here for quotes & questions!"}
            %i.fa.fa-lightbulb-o
          .center.s-inspiration
            - if @random_inspiration.present?
              =@random_inspiration.body
              - if @random_inspiration.category != "Tip"
                =f.hidden_field :inspiration_id, :value => @random_inspiration.id
            -elsif @entry.inspiration.present?
              =@entry.inspiration.body
              - if @entry.inspiration.category != "Tip"
                =f.hidden_field :inspiration_id, :value => @entry.inspiration.id
          %h3
            %span
              New Entry

        -if @entry.errors.any?
          #error_explanation
            .alert.alert-danger
              - @entry.errors.full_messages.each do |msg|
                %p= msg

        %div
          = f.label :date
          .input-group.date
            %span.input-group-addon
              %i.fa.fa-calendar
            - entry_date = params[:day].present? ? Date.parse(params[:day]).strftime("%B %-d %Y") : @entry.date_format_short("")
            = f.text_field :date, :value => entry_date, :placeholder=>"October 11 2014", :class => "form-control"
          %br

          -if current_user.is_pro?
            %div

              - if @entry.image.present?
                %label
                  = f.check_box :remove_image, class: 'j-image-remove'
                  Remove Photo
                %br
                .pictureFrame.j-image-preview
                  =link_to @entry.image_url_cdn, target: "_blank" do
                    =image_code(@entry,200)
              - elsif @entry.filepicker_url.present?
                = f.hidden_field :filepicker_url
                %button.btn.btn-danger.btn-sm.j-image-remove Remove Photo
                %br
                .pictureFrame.j-image-preview
                  =link_to @entry.image_url_cdn, target: "_blank" do
                    =image_code(@entry,200)
              - else
                = f.label :image, "Photo"
                = f.file_field :image
              %br

        %div
          = f.label :entry
          = f.text_area :entry, :class => "form-control summernote", :rows => 15
          %br

        %div
          = f.submit "Create Entry", :class => "form-control btn btn-primary"

-if current_user.is_pro?
  :javascript
    var summer_note = $('#entry_entry');
    summer_note.summernote({
      mode: 'text/html',
      height: 300,
      theme: 'flatly',
      focus: true,
      toolbar: [["style", ["bold", "italic", "underline", "clear"]], ["layout", ["ul", "ol"]], ['insert', ['link']], ['misc', ['fullscreen', 'codeview']]]
    });

    summer_note.code(summer_note.val());
    summer_note.closest('form').submit(function() {
      summer_note.val(summer_note.code());
      return true;
    });

:javascript
  var tomorrow = new Date();
  tomorrow.setDate(tomorrow.getDate() + 1);
  $('.input-group.date').datepicker({
      format: "MM d yyyy",
      todayHighlight: true,
      keyboardNavigation: false,
      endDate: tomorrow,
      autoclose: true,
      todayBtn: "linked"
    });   

-if params[:day].blank? && @entry.date.blank?
  :javascript
    var tomorrow = new Date();
    tomorrow.setDate(tomorrow.getDate() + 1);  
    $('.input-group.date').datepicker({
        format: "MM d yyyy",
        todayHighlight: true,
        keyboardNavigation: false,
        endDate: tomorrow,
        autoclose: true,
        todayBtn: "linked"
      }).datepicker("setDate", new Date());   

:javascript
  imagesLoaded( document.querySelector("#entry-#{@entry.id}"), function( instance ) {
    $(this.elements[0]).find('.pictureFrame img').css("background-image","none");
  });