- title "New Entry on Dabble Me"

.row
  %br
  .col-md-8.col-md-offset-2.well

    = form_for :entry, url: entries_path do |f|

      .s-entry-date.s-new-entry
        .float-left.s-edit-entry{:rel=>"popover", :title=>"Inspiration", :"data-content"=>"If you need ideas to get started just glance up here for quotes & questions!"}
          %i.fa.fa-lightbulb-o
        .center.s-inspiration
          =@random_inspiration.body
          =f.hidden_field :inspiration_id, :value => @random_inspiration.id
        %h3
          %span
            New Entry

      -if @entry.errors.any?
        #error_explanation
          .alert.alert-danger
            - @entry.errors.full_messages.each do |msg|
              %p= msg

      %div
        = f.label :date    
        .input-group.date
          %span.input-group-addon
            %i.fa.fa-calendar
          = f.text_field :date, :value =>  date_formatted(@entry), :placeholder=>"YYYY-MM-DD", :class => "form-control"

        %br

      -#
        %div
          = f.label :image_url
          = f.text_field :image_url, :class => "form-control", :placeholder => "http://url-to-your-image"
          %br

      %div
        = f.label :entry
        = f.text_area :entry, :class => "form-control summernote", :rows => 20
        %br

      %div
        = f.submit "Create Entry", :class => "form-control btn btn-primary"


-if @entry.date.blank?
  :javascript
    $('.input-group.date').datepicker({
        format: "yyyy-mm-dd",
        todayHighlight: true,
        autoclose: true,
        todayBtn: "linked"
      }).datepicker("setDate", new Date());