- title "New Entry on Dabble Me"

.row
  %br
  -if current_user.is_free?
    - add_class = 'blur'
    .col-md-8.col-md-offset-2
      .alert.alert-warning
        =link_to "Subscribe to PRO", subscribe_path, class: "alert-link"
        to unlock the ability to add new entries via the web.

  .col-md-8.col-md-offset-2.well.s-new-edit-entry{:id => "entry-#{@entry.id}"}
    %div{class: add_class}
      = form_for :entry, url: entries_path do |f|
        .s-entry-date.s-new-entry
          .float-left.s-edit-entry{:rel=>"popover", :title=>"Inspiration", :"data-content"=>"If you need ideas to get started just glance up here for quotes & questions!"}
            %i.fa.fa-lightbulb-o
          .center.s-inspiration
            -if @entry.inspiration.present?
              =@entry.inspiration.body.html_safe
              - if @entry.inspiration.category != "Tip"
                =f.hidden_field :inspiration_id, :value => @entry.inspiration.id          
            -elsif @random_inspiration.present?
              =@random_inspiration.body.html_safe
              - if @random_inspiration.category != "Tip"
                =f.hidden_field :inspiration_id, :value => @random_inspiration.id
          %h3{style: 'color: #333333;'}
            %span
              NEW ENTRY

        -if @entry.errors.any?
          #error_explanation
            .alert.alert-danger
              - @entry.errors.full_messages.each do |msg|
                %p= msg

        %div
          = f.label :date
          .input-group.date
            %span.input-group-addon
              %i.fa.fa-calendar
            - entry_date = params[:day].present? ? Date.parse(params[:day]).strftime("%B %-d %Y") : @entry.date_format_short("")
            = f.text_field :date, :value => entry_date, :placeholder=>"October 11 2014", :class => "form-control"
          %br

          %div

            - if @entry.image.present?
              %label
                = f.check_box :remove_image, class: 'j-image-remove'
                &nbsp;Remove Photo
              %br
              .pictureFrame.editable.j-image-preview
                =link_to @entry.image_url_cdn, target: "_blank" do
                  =image_code(@entry)
            - else
              = f.label :image, "Photo"
              = f.file_field :image
            %br

        %div
          = f.label :entry
          = f.text_area :entry, :class => "form-control summernote", :rows => 15
          %br

        %div
          = f.submit "Create Entry", :class => "form-control btn btn-primary"

:javascript
  var summer_note = $('#entry_entry');
  summer_note.summernote({
    mode: 'text/html',
    height: 300,
    theme: 'flatly',
    focus: true,
    toolbar: [["style", ["bold", "italic", "underline", "clear"]], ["layout", ["ul", "ol"]], ['insert', ['link']], ['misc', ['fullscreen', 'codeview']]]
  });

  summer_note.code(summer_note.val());
  summer_note.closest('form').submit(function() {
    summer_note.val(summer_note.code());
    return true;
  });

:javascript
  var tomorrow = new Date();
  tomorrow.setDate(tomorrow.getDate() + 1);
  $('.input-group.date').datepicker({
      format: "MM d yyyy",
      todayHighlight: true,
      keyboardNavigation: false,
      endDate: tomorrow,
      autoclose: true,
      todayBtn: "linked"
    });   

-if params[:day].blank? && @entry.date.blank?
  :javascript
    var tomorrow = new Date();
    tomorrow.setDate(tomorrow.getDate() + 1);  
    $('.input-group.date').datepicker({
        format: "MM d yyyy",
        todayHighlight: true,
        keyboardNavigation: false,
        endDate: tomorrow,
        autoclose: true,
        todayBtn: "linked"
      }).datepicker("setDate", new Date());   

:javascript
  imagesLoaded( document.querySelector("#entry-#{@entry.id}"), function( instance ) {
    $(this.elements[0]).find('.pictureFrame img').css("background-image","none");
  });