- title "New Entry on Dabble me."

.row
  -if current_user.is_free?
    - add_class = 'blur'
    .col-md-8.col-md-offset-2
      .alert.alert-warning{style: "min-height: 45px;"}
        =link_to subscribe_path, class: "float-left", style: "margin-top: -7px;" do
          %button.btn.btn-warning Subscribe Now
        %strong Dabble Me PRO
        for $4/mo unlocks the ability to add new entries via the web.
    .clearfix
  %br
  .col-md-8.col-md-offset-2.well.s-new-edit-entry{:id => "entry-#{@entry&.id}"}
    %div{class: add_class}
      = form_for :entry, url: entries_path do |f|
        .s-entry-date.s-new-entry
          .float-left.s-edit-entry{:rel=>"popover", :title=>"Inspiration", :"data-content"=>"If you need ideas to get started just glance up here for quotes & questions!"}
            %i.fa.fa-lightbulb-o
          .center.s-inspiration
            -if @entry&.inspiration.present?
              =@entry&.inspiration.body.html_safe
              - if @entry&.inspiration.category != "Tip"
                =f.hidden_field :inspiration_id, :value => @entry&.inspiration.id
            -elsif (random_inspiration = Inspiration.random).present?
              =random_inspiration.body.html_safe
              - if random_inspiration.category != "Tip"
                =f.hidden_field :inspiration_id, :value => random_inspiration.id
          %h3{style: 'color: #333333;'}
            %span
              NEW ENTRY

        -if @entry&.errors && @entry&.errors.any?
          #error_explanation
            .alert.alert-danger
              - @entry.errors.full_messages.each do |msg|
                %p= msg

        %div
          = f.label :date
          .input-group.date
            %span.input-group-addon
              %i.fa.fa-calendar
            - entry_date = params[:day].present? ? Date.parse(params[:day]).strftime("%B %-d, %Y") : (@entry&.date.present? ? @entry.date_format_short : Time.now.in_time_zone(current_user.send_timezone).strftime("%B %-d, %Y"))
            = f.text_field :date, :value => entry_date, :placeholder=>"October 11 2014", :class => "form-control pickadate"
          %br

          %div

            - if @entry&.image.present?
              %label
                = f.check_box :remove_image, class: 'j-image-remove'
                &nbsp;Remove Photo
              %br
              .pictureFrame.editable.j-image-preview
                =link_to @entry.image_url_cdn, target: "_blank" do
                  =image_code(@entry)
            - else
              = f.label :image, "Photo"
              = f.file_field :image, accept: Entry::ALLOWED_IMAGE_TYPES.join(","), multiple: true
            %br

        %div
          = f.label :entry
          = f.text_area :entry, :class => "form-control summernote", :rows => 15

        %div
          = f.submit "Create Entry", :class => "form-control btn btn-primary"

:javascript
  var summer_note = $('#entry_entry');
  summer_note.summernote({
    mode: 'text/html',
    height: 300,
    theme: 'flatly',
    disableDragAndDrop: true,
    focus: true,
    tabDisable: false,
    toolbar: [["style", ["bold", "italic", "underline", "clear"]], ["layout", ["ul", "ol"]], ['insert', ['link']], ['misc', ['fullscreen', 'codeview']]]
  });

  summer_note.summernote("code", summer_note.val());
  summer_note.closest('form').submit(function() {
    summer_note.val(summer_note.summernote("code"));
    return true;
  });

  $("#entry-#{@entry&.id}").imagesLoaded()
    .done( function( instance ) {
      $(instance.elements).find('.pictureFrame img').css("background-image","none");
    });

  $("#entry_image").on("change", function() {
    if ($("#entry_image")[0].files.length > 5) {
        alert("Photos are limited to 5 per entry.");
    }
  });
