- title "New Entry on Dabble Me"

.row

  = form_for :entry, url: entries_path do |f|

    .col-md-8.col-md-offset-2
      =random_inspiration  

    -if @entry.errors.any?
      #error_explanation.col-md-8.col-md-offset-2
        .alert.alert-danger
          - @entry.errors.full_messages.each do |msg|
            %p= msg

    .col-md-8.col-md-offset-2
      = f.label :date    
      .input-group.date
        %span.input-group-addon
          %i.fa.fa-calendar
        = f.text_field :date, :value =>  date_formatted(@entry), :placeholder=>"YYYY-MM-DD", :class => "form-control"
        -if @entry.date.blank?
          :javascript
              $('.input-group.date').datepicker({
                  format: "yyyy-mm-dd",
                  todayHighlight: true,
                  autoclose: true,
                  todayBtn: "linked"
                }).datepicker("setDate", new Date());

      %br

    -#
      .col-md-8.col-md-offset-2
        = f.label :image_url
        = f.text_field :image_url, :class => "form-control", :placeholder => "http://url-to-your-image"
        %br

    .col-md-8.col-md-offset-2
      = f.label :entry
      = f.text_area :entry, :class => "form-control summernote", :rows => 20, :autofocus => true
      %br

    .col-md-8.col-md-offset-2
      = f.submit "Create Entry", :class => "form-control btn btn-primary"
      %br