- title ("#{@year} In Review")
= javascript_include_tag "//www.gstatic.com/charts/loader.js", "chartkick"
- add_class = 'really-blur' if current_user.is_free?
.row.s-year-in-review
  .col-md-8.col-md-offset-2
    %h3= "#{@year} Year In Review"
    - ((Date.today.year - 11)..Date.today.year).each do |year|
      - entries_for_year = current_user.entries.where("date >= '#{year}-01-01'::DATE AND date <= '#{year}-12-31'::DATE")
      - if entries_for_year.any?
        = link_to "#{year}", review_path(year), style: "margin: 0 5px; font-size: 16px; #{'color: black;' if year.to_s == @year.to_s}"
    .clearfix
    %br
    %br

  .col-md-8.col-md-offset-2.well
    .center
      .s-entry-date
        %h2 Days with Entries
        %h3
          %span= "#{@total_count} entries in #{@year}"
      .s-review-details
        = pie_chart({"Days With Entries": @total_count, "Days Without Entries": (365 - @total_count)},  height: "230px", library: {backgroundColor: "#ffffff"})
        .clearfix
        - if @pctile.present?
          %p= "You're in the #{@pctile.ordinalize} percentile compared to all active Dabble Me users in #{@year}."
          .clearfix

  - if current_user.is_free?
    .col-md-8.col-md-offset-2
      .alert.alert-warning
        =link_to "Subscribe to PRO", subscribe_path, class: "alert-link"
        to see the rest of your Year in Review.

  - if @entries_with_sentiment.count.positive?
    .col-md-8.col-md-offset-2.well
      .center{class: add_class}
        .s-entry-date
          %h2 Sentiment
          %h3
            %span= link_to "#{pluralize(@entries_with_sentiment.size, 'entry')} tagged", group_entries_path("emotion")
        .s-review-details
          = pie_chart(@sentiment_count,  height: "230px", library: {backgroundColor: "#ffffff"})
          .clearfix

    .col-md-8.col-md-offset-2.well
      .center{class: add_class}
        .s-entry-date
          %h2 Sentiment over Time
        .s-review-details
          = line_chart @sentiment_by_month_data, ytitle: "Posts", min: 0, round: 0, precision: 0
          .clearfix

  - entry_dates = @entries.pluck(:date)
  .col-md-8.col-md-offset-2.well
    .center{class: add_class}
      .s-entry-date
        %h2 Days of Entries
        - days = entry_dates.map{|d| d.strftime('%a') }
        - counts = Hash.new(0)
        - days.each { |name| counts[name.strip] += 1 }
        %h3
          %span= "#{pluralize(counts.length, 'day')} a week"
      .s-review-details
        - sorted_counts = Hash.new
        - Date::ABBR_DAYNAMES.each_with_index { |x, i| sorted_counts[x] = counts[x] }
        = column_chart sorted_counts, discrete: true, library: { backgroundColor: "#ffffff" }, ytitle: "Posts", min: 0, round: 0, precision: 0
        .clearfix

  .col-md-8.col-md-offset-2.well
    .center{class: add_class}
      .s-entry-date
        %h2 Months of Entries
        - months = entry_dates.map{|d| d.strftime('%b') }.sort
        - counts = Hash.new(0)
        - months.each { |name| counts[name.strip] += 1 }
        %h3
          %span= "#{pluralize(counts.length, 'month')} covered"
      .s-review-details
        - sorted_counts = Hash.new
        - Date::ABBR_MONTHNAMES.reject(&:blank?).each_with_index { |x, i| sorted_counts[x] = counts[x] }
        = column_chart sorted_counts, discrete: true, library: { backgroundColor: "#ffffff" }, ytitle: "Posts", min: 0, round: 0, precision: 0
        .clearfix

  .col-md-8.col-md-offset-2.well
    .center{class: add_class}
      .s-entry-date
        %h2 Total Words
        %h3
          - percent_book = ((@words_counter.token_count.to_f/75_348).to_f * 100).round
          - book_height = 500-((percent_book.to_f / 100) * 500)
          %span= "#{format_number(@words_counter.token_count)} - #{percent_book}% of Psychology of Money".html_safe
      .s-review-details
        %div{style: 'position: relative;'}
          =link_to 'https://amzn.to/3Z73J1I', target: '_blank', style: "margin-top: 20px; display: block;margin-bottom: 10px;" do
            .s-book-cover{style: "height: #{book_height < 0 ? 0 : book_height}px"}
            = image_tag 'psychology-of-money.jpg', width: 319, height: 500
        .clearfix

  .col-md-8.col-md-offset-2.well
    .center{class: add_class}
      .s-entry-date
        %h2 Average Words per Post
        %h3
          - your_avg_words = @words_counter.token_count / @total_count
          %span= format_number(your_avg_words)
      - if @year.to_s == "2022"
        .s-review-details
          - if your_avg_words > 298
            - compared = 'way more'
          - elsif your_avg_words > 199
            - compared = 'more'
          - elsif your_avg_words < 99
            - compared = 'way less'
          - else
            - compared = 'less'
          %p= "That's #{compared} than the average of all Dabble Me users (199 words per post)."
          %p
            %span Collectively, all Dabble Me users could have wrote 75 books equivalent to Morgan Housel's,
            %span<= link_to "Psychology of Money", "https://amzn.to/3Z73J1I", target: :_blank
            %span !
          .clearfix

  .col-md-8.col-md-offset-2.well
    .center{class: add_class}
      .s-entry-date
        %h2 Average Characters per Post
        %h3
          - avg_chars = @body_text.length / @total_count
          - tweets = ((avg_chars).to_f / 280).ceil
          - your_avg_words = @words_counter.token_count / @total_count
          %span= "#{format_number(avg_chars)} - about #{tweets} tweets"
      .s-review-details
        .s-twitter-comparison
          - (1..tweets).each do |i|
            %i.fa.fa-twitter
        .clearfix


  - hashtags = Hash[*current_user.used_hashtags(@entries, false).inject(Hash.new(0)) { |h,v| h[v] += 1; h }.sort_by{|k,v| v}.reverse.flatten]
  - if hashtags.present?
    .col-md-8.col-md-offset-2.well
      .center{class: add_class}
        .s-entry-date
          %h2 Most Frequent Hashtags
        .s-review-details
          - hashtags.first(25).each do |k, v|
            %h3
              = link_to k, search_url(host: ENV['MAIN_DOMAIN'], search: {term: "##{k}"}), class: "noline"
              %span.middot= "&middot; #{v}".html_safe
          .clearfix

  .col-md-8.col-md-offset-2.well
    .center{class: add_class}
      .s-entry-date
        %h2 Most Frequent Words
        - if @year.to_s == "2022"
          %h3
            %span= "We're all still journaling in first-person...we collectively used <i>\"i\"</i> 185,020 times in our entries!".html_safe
      .s-review-details
        - @words_counter.token_frequency.first(25).each do |word|
          %h3
            =word.first
            %span.middot= "&middot; #{word.second}".html_safe
        .clearfix
