- title ("#{@year} In Review")
= javascript_include_tag "//www.gstatic.com/charts/loader.js", "chartkick"
- add_class = 'really-blur' if current_user.is_free?
.row.s-year-in-review
  .col-md-8.col-md-offset-2
    %h3= "#{@year} Year In Review"
    - if @years_with_entries.size > 1
      - @years_with_entries.each do |yr|
        = link_to "#{yr}", review_path(yr), style: "margin: 0 5px; font-size: 16px; #{'color: black;' if yr.to_s == @year.to_s}"
    .clearfix
    %br
    %br

  .col-md-8.col-md-offset-2.well{style: "padding-top: 0;"}
    .center
      .s-entry-date
        %h2 Days with Entries
        %h3
          %span= "#{pluralize(@total_count, 'entry')} in #{@year}"
      .s-review-details
        - if @pctile.present?
          %p{style: "margin-top: 10px;"}= "You're in the #{@pctile.ordinalize} percentile compared to all active Dabble Me users in #{@year}."
          .clearfix
        = render 'contribution_graph', data: contribution_calendar_data(@entries, @year), year: @year
        .clearfix
        .center{style: "font-size: 14px;"}
          = number_to_percentage((@total_count.to_f / elapsed_days_in_year(@year)).to_f * 100, precision: 0)
          of the days in #{@year} with entries.

  - if current_user.is_free?
    .col-md-8.col-md-offset-2
      .alert.alert-warning
        =link_to "Subscribe to PRO", subscribe_path, class: "alert-link"
        to see the rest of your Year in Review.

  .col-md-8.col-md-offset-2.well{style: "padding-top: 0;"}
    .center{class: add_class}
      .s-entry-date
        %h2 Ask AI
        %h3
          %span= "Reflections and insights"
      .s-review-details
        %p{style: "margin-top: 20px;margin-bottom: 0px;"} Follow these simple steps to gain a better understanding of how you journaling and collect advice as you chat with a life coach about how your year went.
        %ol{style: "display: inline-block;text-align: left;max-width:100%;margin-top: 10px;"}
          %li{style: "margin-top: 10px;"}
            %strong= link_to "Export your #{pluralize(@total_count, 'entry')} from #{@year}", export_entries_path(year: @year, format: :txt)
          %li{style: "margin-top: 10px;"}
            %strong 
              Visit
              = link_to "ChatGPT", "https://chatgpt.com", target: :_blank
              or
              = link_to "Claude", "https://claude.ai/", target: :_blank
              or
              = link_to "Gemini", "https://gemini.google.com", target: :_blank
          %li{style: "margin-top: 10px;"}
            %strong Upload your entries with the following instructions
            and then continue asking it questions. You may want to turn off "train the model" when using this method.
            %pre{style: "margin-top: 10px;max-width: 90%; overflow: scroll;"}
              These are my journal entries from #{@year}. I will ask you questions about these entries and want you to answer as an expert life coach based on what I wrote. Be thoughtful in your replies.
        %p{style: "margin: 20px auto 5px;"}
          %strong Some example questions:
        %ul{style: "display: inline-block;text-align: left;"}
          %li{style: "margin-top: 10px;"} What advice do you have more me this year?
          %li{style: "margin-top: 10px;"} What was I most grateful for this year?
          %li{style: "margin-top: 10px;"} What are the key reflections of the year?
          %li{style: "margin-top: 10px;"} What values do I live my life through?


  - if @entries_with_sentiment.count.positive?
    .col-md-8.col-md-offset-2.well{style: "padding-top: 0;"}
      .center{class: add_class}
        .s-entry-date
          %h2 Sentiment
          %h3
            %span= "#{pluralize(@entries_with_sentiment.size, 'entry')} tagged"
        .s-review-details
          - @entries_with_sentiment.map(&:sentiment).flatten.uniq.reject { |s| s == "unknown" }.sort.each do |sentiment|
            = link_to "#{Entry::AiTagger::EMOTIONS[sentiment]} #{sentiment.titleize}", entries_emotion_path(sentiment), class: "emotion-link", title: "View entries tagged with #{sentiment}"        
          = pie_chart(@sentiment_count,  height: "230px", library: {backgroundColor: "#ffffff"})

    .col-md-8.col-md-offset-2.well{style: "padding-top: 0;"}
      .center{class: add_class}
        .s-entry-date
          %h2 Sentiment over Time
        .s-review-details
          = line_chart @sentiment_by_month_data, ytitle: "Posts", min: 0, round: 0, precision: 0
          .clearfix

  - entry_dates = @entries.pluck(:date)
  .col-md-8.col-md-offset-2.well{style: "padding-top: 0;"}
    .center{class: add_class}
      .s-entry-date
        %h2 Days of Entries
        - days = entry_dates.map{|d| d.strftime('%a') }
        - counts = Hash.new(0)
        - days.each { |name| counts[name.strip] += 1 }
        %h3
          %span= "#{pluralize(counts.length, 'day')} a week"
      .s-review-details
        - sorted_counts = Hash.new
        - Date::ABBR_DAYNAMES.each_with_index { |x, i| sorted_counts[x] = counts[x] }
        = column_chart sorted_counts, discrete: true, library: { backgroundColor: "#ffffff" }, ytitle: "Posts", min: 0, round: 0, precision: 0
        .clearfix

  .col-md-8.col-md-offset-2.well{style: "padding-top: 0;"}
    .center{class: add_class}
      .s-entry-date
        %h2 Months of Entries
        - months = entry_dates.map{|d| d.strftime('%b') }.sort
        - counts = Hash.new(0)
        - months.each { |name| counts[name.strip] += 1 }
        %h3
          %span= "#{pluralize(counts.length, 'month')} covered"
      .s-review-details
        - sorted_counts = Hash.new
        - Date::ABBR_MONTHNAMES.reject(&:blank?).each_with_index { |x, i| sorted_counts[x] = counts[x] }
        = column_chart sorted_counts, discrete: true, library: { backgroundColor: "#ffffff" }, ytitle: "Posts", min: 0, round: 0, precision: 0
        .clearfix

  .col-md-8.col-md-offset-2.well{style: "padding-top: 0;"}
    .center{class: add_class}
      .s-entry-date
        %h2 Total Words
        %h3
          - percent_book = ((@words_counter.length.to_f/97_000).to_f * 100).round
          - book_height = 500-((percent_book.to_f / 100) * 500)
          %span= "#{format_number(@words_counter.length)} - #{percent_book}% of The 5 Types of Wealth".html_safe
      .s-review-details
        %div{style: 'position: relative;max-width: 100%;'}
          =link_to 'https://amzn.to/44THtN1', target: '_blank', style: "margin-top: 20px; display: block;margin-bottom: 10px; max-width: 100%;" do
            .s-book-cover{style: "max-width: 100%; width: 383px; height: #{book_height < 0 ? 0 : book_height}px"}
            = image_tag 'five-types-of-wealth.jpg', width: 383, height: 500, style: "max-width: 100%;"
        .clearfix

  .col-md-8.col-md-offset-2.well{style: "padding-top: 0;"}
    .center{class: add_class}
      .s-entry-date
        %h2 Average Words per Post
        %h3
          - your_avg_words = @words_counter.length / @total_count
          %span= format_number(your_avg_words)
      - if @year.to_s == "2025"
        .s-review-details{style: "margin: 30px auto;"}
          - if your_avg_words > 294
            - compared = 'way more'
          - elsif your_avg_words > 196
            - compared = 'more'
          - elsif your_avg_words < 98
            - compared = 'way less'
          - else
            - compared = 'less'
          %p= "That's #{compared} than the average of all Dabble Me users (196 words per post)."
          %p
            %span Collectively, all Dabble Me users could have wrote 78 books equivalent to Sahil Bloom's,
            %span<= link_to "The 5 Types of Wealth", "https://amzn.to/44THtN1", target: :_blank
            %span !
          .clearfix

  - hashtags = Hash[*current_user.used_hashtags(@entries, false).inject(Hash.new(0)) { |h,v| h[v] += 1; h }.sort_by{|k,v| v}.reverse.flatten]
  - if hashtags.present?
    .col-md-8.col-md-offset-2.well{style: "padding-top: 0;"}
      .center{class: add_class}
        .s-entry-date
          %h2 Most Frequent Hashtags
        .s-review-details
          - hashtags.first(25).each do |k, v|
            %h3
              = link_to k, search_url(host: ENV['MAIN_DOMAIN'], search: {term: "##{k}"}), class: "noline"
              %span.middot= "&middot; #{v}".html_safe
          .clearfix

  .col-md-8.col-md-offset-2.well{style: "padding-top: 0;"}
    .center{class: add_class}
      .s-entry-date
        %h2 Most Frequent Words
      .s-review-details
        - grouped_words = @words_counter.group_by(&:itself).transform_values(&:count).sort_by { |_k, v| v }.reverse.to_h
        - grouped_words = grouped_words.select { |word, count| !Entry::COMMON_WORDS.include?(word) }
        - grouped_words.first(25).each do |word, count|
          %h3
            = word
            %span.middot= "&middot; #{count}".html_safe
        .clearfix
