- title "Entry on #{@entry.date_format_short}"

.row
  .col-md-8.col-md-offset-2
    .center
      .pagination
        - if @entry.previous.present?
          =link_to "« Prev", day_entry_path(year: @entry.previous.date.year, month: @entry.previous.date.month, day: @entry.previous.date.day), id: "previous-entry", rel: "tooltip", title: "#{@entry.previous.date_format_short}"
        - else
          %span{style: "color: #999; cursor: not-allowed;"} « Prev

        = link_to "Random", random_entry_path, style: "margin: 0 30px;"

        - if @entry.next.present?
          =link_to "Next »", day_entry_path(year: @entry.next.date.year, month: @entry.next.date.month, day: @entry.next.date.day), id: "next-entry", rel: "tooltip", title: "#{@entry.next.date_format_short}"
        - else
          %span{style: "color: #999; cursor: not-allowed;"} Next »
    .clearfix
  .col-md-8.col-md-offset-2.well.entry{id: "entry-#{@entry.id}"}  
    = render partial: 'entry', locals: { entry: @entry }
