- title "Spotify Songs"
- spotify_entries = current_user.entries.only_spotify
.row
  .col-md-8.col-md-offset-2.well.s-faqs
    %h2.center Songs from Entries
    %p.center
      %br
      Add links from Spotify to specific songs and you'll be able to play them here.
    - if spotify_entries.present?
      - spotify_entries = Kaminari.paginate_array(spotify_entries).page(params[:page]).per(params[:per])
      - spotify_entries.each do |entry|
        %p
          %h5= link_to "Entry for #{entry.date_format_short}", day_entry_path(year: entry.date.year, month: entry.date.month, day: entry.date.day)
          - entry.songs.each do |song|
            %iframe{src: "https://open.spotify.com/embed?uri=spotify:track:#{song['spotify_id']}", width: "100%", height: "80", frameborder: "0", allowtransparency: "true"}
      .center
        = paginate spotify_entries
    - else
      %p= link_to image_tag("copy-spotify-link.gif", style: "width: 100%;"), "https://support.spotify.com/us/using_spotify/share_music/sharing-music/", target: "_blank"
      %p.center=link_to "See how to copy link on other devices", "https://support.spotify.com/us/using_spotify/share_music/sharing-music/", target: "_blank"