- title "#{@title} on Dabble me."
.row
  = render "sidebar"
  = render "search"

  - if spotify_entries.present?
    - entries = Kaminari.paginate_array(spotify_entries).page(params[:page]).per(params[:per])
    - entries.each do |entry|
      .col-md-8.col-md-offset-1.well.entry{:id => "entry-#{entry.id}"}
        .center
          - if entry.exactly_past_years(current_user)
            - year_back = Time.now.in_time_zone(current_user.send_timezone).year - entry.date.year
            .label.label-past-years #{pluralize(year_back,"year").upcase} AGO
          .s-entry-date
            %h2
              = link_to entry.date_format_short, day_entry_path(year: entry.date.year, month: entry.date.month, day: entry.date.day), rel: "tooltip-mobile-friendly", title: "#{tag_relative_date(entry.date, Date.today)}"
        .s-scrollable
          = entry.spotify_embed

    .col-md-8.col-md-offset-2
      .center
        = paginate entries
  - else
    .col-md-8.col-md-offset-1.well.s-faqs
      .s-entry-date
        %h2.center= @title
      %p.center
        %br
        Add links to songs from Spotify to your entries and you'll see them here, ready to listen to!
        %br
        %br
        =link_to "How To Copy Song Link on All Devices »", "https://support.spotify.com/us/using_spotify/share_music/sharing-music/", target: "_blank"
      %p
        = link_to image_tag("copy-spotify-link.gif", style: "width: 100%;"), "https://support.spotify.com/us/using_spotify/share_music/sharing-music/", target: "_blank"
