- title ("Admin Dashboard")

.row.s-admin-container
  .col-md-12
    %h3
      Admin Dashboard

  .col-md-12
    %hr

  .col-md-12
    .row
      .col-md-3
        %strong All Entries
      - all_count = @entries.length
      .col-md-2
        %strong #{number_with_delimiter(all_count)}
    .row
      .col-md-3
        %strong All Entries with Photos
      - photos_count = @entries.only_images.length
      .col-md-2
        %strong #{number_with_delimiter(photos_count)}
      .col-md-2
        %strong #{number_to_percentage(photos_count.to_f/all_count.to_f*100, precision: 0)}
    -#
      .row
        .col-md-3
          %strong All Entries from OhLife
        - ohlife_count = @entries.only_ohlife.length
        .col-md-2
          %strong #{number_with_delimiter(ohlife_count)}
        .col-md-2
          %strong #{number_to_percentage(ohlife_count.to_f/all_count.to_f*100, precision: 0)}
    .row
      .col-md-3
        %strong All Entries from Email
      - email_count = @entries.only_email.length
      .col-md-2
        %strong #{number_with_delimiter(email_count)}
      .col-md-2
        %strong #{number_to_percentage(email_count.to_f/all_count.to_f*100, precision: 0)}

  .col-md-12
    %hr

  .col-md-3
    %strong Total Emails Sent
  .col-md-3
    - emails_sent_total = @users.sum(:emails_sent)
    %strong= emails_sent_total
  .clearfix
  .col-md-3
    %strong Total Emails Received
  .col-md-2
    - emails_received_total = @users.sum(:emails_received)
    %strong= emails_received_total
  .col-md-2
    %strong #{number_to_percentage(emails_received_total.to_f/emails_sent_total.to_f*100, precision: 0)}

  .col-md-12
    %hr      

  .col-md-12
    .row
      .col-md-3
        %strong=link_to "All Users", "#", class: "j-admin-days"
      - all_users_count = @users.length
      .col-md-2
        %strong #{number_with_delimiter(all_users_count)}

      - if all_users_count > 0
        %br
        %br
        %table.table.table-bordered.table-striped.sortable.j-admin-emails.well
          %thead
            %tr
              %th{"data-mainsort" => "true", "data-defaultsort" => "asc", :style => "width: 5%"} ID
              %th{"data-firstsort" => "asc", :style => "width: 30%"} Email
              %th{"data-firstsort" => "asc", :style => "width: 20%"} Name
              %th{"data-firstsort" => "asc", :style => "width: 15%"} Entries
              %th{"data-firstsort" => "asc", :style => "width: 10%"} Sent
              %th{"data-firstsort" => "asc", :style => "width: 10%"} Received
              %th{"data-firstsort" => "asc", :style => "width: 10%"} Donations
          %tbody
            -@users.each do |user|
              %tr
                %td=user.id
                %td=mail_to user.email
                %td=user.full_name
                %td{:"data-value"=>"#{user.entries.count}"}=number_with_delimiter(user.entries.count)
                %td{:"data-value"=>"#{user.emails_sent}"}=number_with_delimiter(user.emails_sent)
                %td{:"data-value"=>"#{user.emails_received}"}=number_with_delimiter(user.emails_received)
                %td=user.donations.sum(:amount)

.clearfix