- title ("Admin Dashboard")

.row.s-admin-container
  .col-md-12
    %h3
      Admin Dashboard

  .col-md-12
    %hr

  .col-md-12
    .row
      .col-md-3
        %strong All Entries
      - all_count = @entries.count
      .col-md-2
        %strong #{number_with_delimiter(all_count)}
    .row
      .col-md-3
        %strong All Entries with Photos
      - photos_count = @entries.only_images.count
      .col-md-2
        %strong #{number_with_delimiter(photos_count)}
      .col-md-2
        - if all_count > 0
          %strong #{number_to_percentage(photos_count.to_f/all_count.to_f*100, precision: 0)}

  .col-md-12
    %hr

  .col-md-3
    %strong Total Emails Sent
  .col-md-3
    - emails_sent_total = @users.sum(:emails_sent)
    %strong= emails_sent_total
  .clearfix
  .col-md-3
    %strong Total Emails Received
  .col-md-2
    - emails_received_total = @users.sum(:emails_received)
    %strong= emails_received_total
  .col-md-2
    - if emails_sent_total > 0
      %strong #{number_to_percentage(emails_received_total.to_f/emails_sent_total.to_f*100, precision: 0)}

  .col-md-12
    %hr      

  .col-md-12
    .row
      .col-md-3
        %strong=link_to "All Users", "#", class: "j-admin-days"
      - all_users_count = @users.count
      .col-md-2
        %strong #{number_with_delimiter(all_users_count)}

      - if all_users_count > 0
        %br
        %br
        %table.table.table-bordered.table-striped.sortable.j-admin-emails.well
          %thead
            %tr
              %th{"data-mainsort" => "true", "data-defaultsort" => "asc", :style => "width: 5%"} ID
              %th{"data-firstsort" => "asc", :style => "width: 30%"} Email
              %th{"data-firstsort" => "asc", :style => "width: 20%"} Name
              %th{"data-firstsort" => "asc", :style => "width: 15%"} Entries
              %th{"data-firstsort" => "asc", :style => "width: 10%"} Sent
              %th{"data-firstsort" => "asc", :style => "width: 10%"} Received
              %th{"data-firstsort" => "asc", :style => "width: 10%"} Donations
          %tbody
            - connection = ActiveRecord::Base.connection
            -@users.each do |user|
              %tr
                %td=user.id
                %td=mail_to user.email
                %td=user.full_name
                - user_entries_count = connection.execute "SELECT COUNT(*) FROM entries  WHERE entries.user_id = #{user.id}"
                - user_donations = connection.execute "SELECT SUM(donations.amount) AS sum_id FROM donations  WHERE donations.user_id = #{user.id}"
                %td{:"data-value"=>"#{user.entries.count}"}=number_with_delimiter(user_entries_count.getvalue(0,0))
                %td{:"data-value"=>"#{user.emails_sent}"}=number_with_delimiter(user.emails_sent)
                %td{:"data-value"=>"#{user.emails_received}"}=number_with_delimiter(user.emails_received)
                %td=user_donations.getvalue(0,0)

.clearfix