- title ("Admin Dashboard")

.row.s-admin-container
  .col-md-12
    %h3
      Admin Dashboard

  .col-md-12
    %hr

  .col-md-12
    .row
      .col-md-3
        %strong All Entries
      - all_count = @entries.count
      .col-md-2
        =link_to admin_path(entries: "all") do
          %strong #{number_with_delimiter(all_count)}        
      .col-md-3
        %form{action:"/search?admin=true"}
          %input{type: "text", name: "search[term]", placeholder: "Search entries", style: "padding: 3px 8px; margin-top:-10px; margin-bottom: 5px;"}
          %input{type: "hidden", name: "admin", value: "yes"}
    .row
      .col-md-3
        %strong All Entries with Photos
      - photos_count = @entries.only_images.count
      .col-md-2
        =link_to admin_path(entries: "all", photos: true) do
          %strong #{number_with_delimiter(photos_count)}
      .col-md-2
        - if all_count > 0
          %strong #{number_to_percentage(photos_count.to_f/all_count.to_f*100, precision: 0)}

  .col-md-12
    %hr
  .col-md-12
    .row
      .col-md-3
        %strong Free
      .col-md-2
        %strong #{number_with_delimiter(User.free_only.count)}
    .row
      .col-md-3
        %strong Pro
      .col-md-2
        %strong #{number_with_delimiter(User.pro_only.count)}
    .row
      .col-md-3
        %strong Monthly
      .col-md-2
        %strong #{number_with_delimiter(User.monthly.count)}
    .row
      .col-md-3
        %strong Yearly
      .col-md-2
        %strong #{number_with_delimiter(User.yearly.count)}
    .row
      .col-md-3
        %strong Forever
      .col-md-2
        %strong #{number_with_delimiter(User.forever.count)}        

  .col-md-12
    %hr

  .col-md-3
    %strong Total Emails Sent
  .col-md-3
    - emails_sent_total = @users.sum(:emails_sent)
    %strong= number_with_delimiter(emails_sent_total)
  .clearfix
  .col-md-3
    %strong Total Emails Received
  .col-md-2
    - emails_received_total = @users.sum(:emails_received)
    %strong= number_with_delimiter(emails_received_total)
  .col-md-2
    - if emails_sent_total > 0
      %strong #{number_to_percentage(emails_received_total.to_f/emails_sent_total.to_f*100, precision: 0)}

  .col-md-12
    %hr      

  .col-md-12
    .row
      .col-md-3
        %strong All Users
      - all_users_count = @users.count
      .col-md-2
        %strong #{number_with_delimiter(all_users_count)}
      .col-md-3
        %form
          %input{type: "text", name: "email", placeholder: "Search by Email", value: "#{params[:email]}", style: "padding: 3px 8px; margin-top:-10px; margin-bottom: 5px;"}

      - if all_users_count > 0
        %br
        %br
        %table.table.table-bordered.table-striped.well
          %thead
            %tr
              %th{"data-mainsort" => "true", "data-defaultsort" => "asc", :style => "width: 3%"} ID
              %th{"data-firstsort" => "asc", :style => "width: 25%"} Email
              %th{"data-firstsort" => "asc", :style => "width: 20%"} Name
              %th{"data-firstsort" => "asc", :style => "width: 10%"} Entries
              %th{"data-firstsort" => "asc", :style => "width: 10%"} Images
              %th{"data-firstsort" => "asc", :style => "width: 10%"} Paid
              %th{"data-firstsort" => "asc", :style => "width: 20%"} Plan
          %tbody
            - connection = ActiveRecord::Base.connection
            -@user_list.each do |user|
              %tr
                %td=user.id
                %td=link_to user.email, admin_path(entries: "all", user_id: user.id)
                %td=user.full_name
                - user_entries_count = connection.execute "SELECT COUNT(*) FROM entries  WHERE entries.user_id = #{user.id}"
                - user_payments = connection.execute "SELECT SUM(payments.amount) AS sum_id FROM payments  WHERE payments.user_id = #{user.id}"
                %td{:"data-value"=>"#{user.entries.count}"}=number_with_delimiter(user_entries_count.getvalue(0,0))
                %td{:"data-value"=>"#{user.entries.only_images.count}"}=number_with_delimiter(user_entries_count.getvalue(0,0))
                %td=user_payments.getvalue(0,0)
                %td=user.plan
        .center
          = paginate @user_list

.clearfix