- title ("Admin Metrics")

.row.s-admin-container.container{style: 'margin: 0 auto;'}
  .col-md-12
    %h3
      Admin Metrics

  .col-md-12
    %hr

  .col-md-12
    .row
      .col-md-3
        %strong All Entries
      - all_count = @entries.count
      .col-md-2
        =link_to admin_path(entries: "all") do
          %strong #{number_with_delimiter(all_count)}
    .row
      .col-md-3
        %strong All Entries with Photos
      - photos_count = @entries.only_images.count
      .col-md-2
        =link_to admin_path(entries: "all", photos: true) do
          %strong #{number_with_delimiter(photos_count)}
      .col-md-2
        - if all_count > 0
          %strong #{number_to_percentage(photos_count.to_f/all_count.to_f*100, precision: 0)}

  .col-md-12
    %hr

    %form.row{action:"/search?admin=true"}
      .col-md-6
        %input{type: "text", name: "search[term]", placeholder: "Search entries", class: 'form-control'}
      .col-md-6
        %button{type: "hidden", name: "admin", value: "yes", class: 'btn btn-primary'} Search    

    %hr
  .col-md-12
    .row
      .col-md-3
        %strong Free
      .col-md-2
        %strong #{number_with_delimiter(User.free_only.count)}
    .row
      .col-md-3
        %strong Pro
      .col-md-2
        %strong #{number_with_delimiter(User.pro_only.count)}
    .row
      .col-md-3
        %strong Monthly
      .col-md-2
        %strong #{number_with_delimiter(User.monthly.count)}
    .row
      .col-md-3
        %strong Yearly
      .col-md-2
        %strong #{number_with_delimiter(User.yearly.count)}
    .row
      .col-md-3
        %strong Forever
      .col-md-2
        %strong #{number_with_delimiter(User.forever.count)}        

  .col-md-12
    %hr

  .col-md-3
    %strong Total Emails Sent
  .col-md-3
    - emails_sent_total = @users.sum(:emails_sent)
    %strong= number_with_delimiter(emails_sent_total)
  .clearfix
  .col-md-3
    %strong Total Emails Received
  .col-md-2
    - emails_received_total = @users.sum(:emails_received)
    %strong= number_with_delimiter(emails_received_total)
  .col-md-2
    - if emails_sent_total > 0
      %strong #{number_to_percentage(emails_received_total.to_f/emails_sent_total.to_f*100, precision: 0)}

.clearfix