- title ("Admin Stats")
= javascript_include_tag "//www.gstatic.com/charts/loader.js", "chartkick"
.row.s-admin-container.container{style: 'margin: 0 auto;'}
  .col-md-12
    %h3
      Admin Stats

  .col-md-12
    %hr

  .col-md-12
    .row
      .col-md-3
        %strong All Entries
      - all_count = Entry.count
      .col-md-2
        %strong #{number_with_delimiter(all_count)}
    .row
      .col-md-3
        %strong All Entries with Photos
      - photos_count = Entry.only_images.count
      .col-md-2
        =link_to admin_photos_path do
          %strong #{number_with_delimiter(photos_count)}
      .col-md-2
        - if all_count > 0
          %strong #{number_to_percentage(photos_count.to_f/all_count.to_f*100, precision: 0)}

  .col-md-12
    %hr

  .col-md-12
    .row
      .col-md-3
        %strong All
      .col-md-2
        %strong #{number_with_delimiter(User.all.count)}
    .row
      .col-md-3
        %strong Pro / Free
      .col-md-2
        %strong #{number_with_delimiter(User.pro_only.count)}
      .col-md-2
        %strong #{number_with_delimiter(User.free_only.count)}        
    .row
      .col-md-3
        %strong Pro Monthly / Yearly / Forevers
      .col-md-2
        %strong #{number_with_delimiter(User.monthly.count)}
      .col-md-2
        %strong #{number_with_delimiter(User.yearly.count)}
      .col-md-2
        %strong #{number_with_delimiter(User.forever.count)}
    .row
      .col-md-3
        %strong Pro PayHere / Gumroad / Paypal
      .col-md-2
        %strong #{number_with_delimiter(User.payhere_only.count)}
      .col-md-2
        %strong #{number_with_delimiter(User.gumroad_only.count)}
      .col-md-2
        %strong #{number_with_delimiter(User.paypal_only.count)}        
  
  .col-md-12
    %hr

  .col-md-12
    .row
      .col-md-3
        %strong Referrals
      .col-md-2
        %strong #{number_with_delimiter(User.referrals.count)}
    - User.referrals.pluck(:referrer).uniq.each do |ref|
      .row
        .col-md-3
          = ref
        .col-md-2
          #{number_with_delimiter(User.referrals.where(referrer: ref).count)}
      
  .col-md-12
    %hr

  .col-md-3
    %strong Total Emails Sent
  .col-md-3
    - emails_sent_total = User.sum(:emails_sent)
    %strong= number_with_delimiter(emails_sent_total)
  .clearfix
  .col-md-3
    %strong Total Emails Received
  .col-md-2
    - emails_received_total = User.sum(:emails_received)
    %strong= number_with_delimiter(emails_received_total)
  .col-md-2
    - if emails_sent_total > 0
      %strong #{number_to_percentage(emails_received_total.to_f/emails_sent_total.to_f*100, precision: 0)}


  .col-md-12
    %hr

  .col-md-12
    %h3 Sign ups over the last 90 days
    = line_chart @dashboard.users_by_week_since(90.days.ago), discrete: true
    %br

  .col-md-12
    %h3 Pro Upgrades over the last 90 days
    = line_chart @dashboard.pro_users_by_week_since(90.days.ago), discrete: true
    %br

  .col-md-12
    %h3 Entries over the last 90 days
    = line_chart @dashboard.entries_by_week_since(90.days.ago), discrete: true
    %br

  .col-md-12
    %h3 Emails over the last 90 days
    = line_chart @dashboard.emails_sent_by_month_since(90.days.ago), discrete: true
    %br

  .col-md-12
    %h3 Payments by month over the last year
    = column_chart @dashboard.payments_by_month(1.year.ago), discrete: true
    %br

  .col-md-12
    - upgrades = @dashboard.upgraded_users_since(90.days.ago)
    %h3 #{pluralize(upgrades.count, "Upgrade")} from the last 90 days
    %p
      %table.table.table-striped.table-hover
        %tr
          %th Email
          %th Upgraded
          %th Paid
          %th Entries
          %th Per day
        - upgrades.each do |user|
          %tr{:class => @dashboard.paid_status_for(user)}
            %td= user.email
            %td= l(user.payments.first.date.to_date, format: :month_day)
            %td= user.payments.sum(:amount)
            %td= user.entries.count
            %td= @dashboard.entries_per_day_for(user)

  .col-md-12
    %hr

  .col-md-12
    - bounces = @dashboard.bounced_users_since(90.days.ago)
    %h3 #{pluralize(upgrades.count, "user")} from the last 90 days has had emails bouncing
    %p
      %table.table.table-striped.table-hover
        %tr
          %th Email
          %th Bounces
        - bounces.each do |user|
          %tr{:class => @dashboard.paid_status_for(user)}
            %td= user.email
            %td= user.emails_bounced

  .col-md-12
    %hr

  .col-md-12
    - free_users = @dashboard.free_users_created_since(90.days.ago).order(:created_at)
    %h3 #{pluralize(free_users.count, "Free User")} from the last 90 days
    %p
      %table.table.table-striped.table-hover
        %tr
          %th Email
          %th Signed up
          %th Entries
          %th Per day
        - free_users.each do |user|
          %tr{:class => @dashboard.paid_status_for(user)}
            %td= user.email
            %td= l(user.created_at.to_date, format: :month_day)
            %td= user.entries.count
            %td= @dashboard.entries_per_day_for(user)            
