.col-md-12
  %hr
.col-md-12
  %h3 #{pluralize(format_number(@bounces.total_count), "user")} from the last 90 days has had emails bouncing
  = render partial: 'bounces_table', locals: { bounces: @bounces, dashboard: @dashboard }
  = paginate @bounces, param_name: 'bounces_page'

.col-md-12
  %hr

.col-md-12
  %h3 #{pluralize(format_number(@free_users_recent.total_count), "Free User")} from the last 90 days
  = render partial: 'free_users_table', locals: { free_users: @free_users_recent, dashboard: @dashboard }
  = paginate @free_users_recent, param_name: 'free_users_page'
