- title ("Admin Stats")
= javascript_include_tag "//www.google.com/jsapi", "chartkick"
.row.s-admin-container.container{style: 'margin: 0 auto;'}
  .col-md-12
    %h3
      Admin Stats

  .col-md-12
    %hr

  .col-md-12
    %h3.text-center Sign ups over the last 90 days
    = line_chart @dashboard.users_by_day_since(90.days.ago)
    %br

  .col-md-12
    %h3.text-center Entries over the last 90 days
    = line_chart @dashboard.entries_by_day_since(90.days.ago)
    %br

  .col-md-12
    %h3.text-center Emails over the last 90 days
    = line_chart @dashboard.emails_sent_by_month_since(90.days.ago)
    %br

  .col-md-12
    %h3.text-center Payments over the last 90 days   
    = line_chart @dashboard.payments_by_day_since(90.days.ago)
    %br

  .col-md-12
    %h3.text-center Paid Users from the last 30 days
    %p
      %table.table.table-striped.table-hover
        %tr
          %th Email
          %th Signed up
          %th Paid
          %th Entries
          %th Per day
        - @dashboard.users_created_since(30.days.ago).pro_only.order(:created_at).each do |user|
          %tr{:class => @dashboard.paid_status_for(user)}
            %td= link_to user.email, "mailto:#{user.email}"
            %td= l(user.created_at.to_date, format: :month_day)
            %td= user.payments.sum(:amount)
            %td= user.entries.count
            %td= @dashboard.entries_per_day_for(user)

  .col-md-12
    %hr
  .col-md-12    
    %h3.text-center Free Users from the last 30 days
    %p
      %table.table.table-striped.table-hover
        %tr
          %th Email
          %th Signed up
          %th Entries
          %th Per day
        - @dashboard.users_created_since(30.days.ago).order(:created_at).each do |user|
          %tr{:class => @dashboard.paid_status_for(user)}
            %td= link_to user.email, "mailto:#{user.email}"
            %td= l(user.created_at.to_date, format: :month_day)
            %td= user.entries.count
            %td= @dashboard.entries_per_day_for(user)            