- title ("Admin Users")

.container-fluid
  .row.s-admin-container
    .col-md-12
      %h3
        Admin Users

    .col-md-12
      %hr

    .col-md-12
      .row
        .col-md-12
          %form.row
            .col-md-4
              %input{type: 'text', name: 'email', placeholder: 'Filter by Email', value: "#{params[:email]}", class: 'form-control'}
            .col-md-4
              %input{type: 'text', name: 'user_key', placeholder: 'Filter by User Key', value: "#{params[:user_key]}", class: 'form-control  col-md-6'}
            .col-md-4
              %button{type: 'submit', name: 'submit', value: 'Search', class: 'btn btn-primary'} Search

      .clearfix
        %hr
      .row
        .col-md-12
          %table.table.table-bordered.table-striped.well.sortable
            %thead
              %tr
                %th{style: 'width: 14%', data: { mainsort: 'true' }} Created
                %th{style: 'width: auto', data: { firstsort: 'asc' }} Email
                %th{style: 'width: 20%', data: { firstsort: 'asc' }} Name
                %th{style: 'width: 8%', data: { firstsort: 'asc' }} Entries
                %th{style: 'width: 8%', data: { firstsort: 'asc' }} Images
                %th{style: 'width: 8%', data: { firstsort: 'asc' }} Paid
                %th{style: 'width: auto', data: { firstsort: 'asc' }} Plan
                %th{style: 'width: auto', data: { firstsort: 'asc' }} Ref
            %tbody
              -@user_list.each do |user|
                %tr
                  %td=user.created_at.strftime('%Y-%m-%d')
                  %td{title: "#{user.user_key}@#{ENV['SMTP_DOMAIN']}"}=user.email
                  %td=user.full_name
                  - user_entries_count = user.entries.count
                  - user_images_count = user.entries.only_images.count
                  %td{data: { value: "#{user_entries_count}" }}=number_with_delimiter(user_entries_count)
                  %td{data: { value: "#{user_images_count}"}}=number_with_delimiter(user_images_count)
                  %td=user.payments.sum(:amount)
                  %td{title: user.frequencies}=user.plan
                  %td=user.referrer
          .center
            = paginate @user_list
.clearfix
