- title 'Verification Code'

.row
  .col-md-6.col-md-offset-3
    %h3 Enter verification code emailed to you
    %br
  = form_for(resource, :as => resource_name, :url => [resource_name, :paranoid_verification_code], :html => { :method => :put }) do |f|
    .col-md-6.col-md-offset-3
      = render "devise/shared/error_messages", resource: resource

    .col-md-6.col-md-offset-3
      = f.label :paranoid_verification_code, 'Verification code'
      = f.text_field :paranoid_verification_code, autofocus: true, class: "form-control", value: ""
      %br

    .col-md-6.col-md-offset-3
      = f.submit "Submit", class: "btn btn-primary form-control"
