- title 'Forgot Password on Dabble Me'

.row
  .col-md-4.col-md-offset-4
    %h3 Forgot your password?
    %br
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    .col-md-4.col-md-offset-4
      = devise_error_messages!
    .col-md-4.col-md-offset-4
      = f.label :email
      = f.email_field :email, autofocus: true, class: "form-control"
      %br
    .col-md-4.col-md-offset-4
      = f.submit "Send me reset password instructions", class: "btn btn-primary form-control"
      .clearfix
      %br
      = render "devise/shared/links"
