%footer.footer
  .container.center
    %hr
    %p.muted
      = link_to privacy_path, title: "Privacy Policy" do
        %span.fa.fa-lock
        %span.hidden-xs Privacy
      &nbsp;&middot;&nbsp;        
      =link_to "Powered by donations",donate_path, title: "Donate Now"
      &nbsp;&middot;&nbsp;        
      = mail_to "hello@#{ENV['MAIN_DOMAIN']}", :encode => "hex", title: "Contact Support" do
        %span.fa.fa-envelope-o
        %span.hidden-xs Contact
    %p.muted
      = link_to 'http://twitter.com/parterburn', title: "Built by Paul Arterburn" do
        %span.fa.fa-twitter
        %span.hidden-xs Built by @parterburn
      &nbsp;&middot;&nbsp;
      = link_to 'http://github.com/parterburn/dabble.me', title: "View code on GitHub" do
        %span.fa.fa-github
        %span.hidden-xs Open sourced

.j-back-to-top.s-back-to-top
  =link_to "#" do
    %span.fa-stack.fa-sm
      %i.fa.fa-square.fa-stack-2x
      %i.fa.fa-arrow-up.fa-stack-1x.fa-inverse