%footer.footer
  .container.center
    %hr
    %p
      =link_to "Powered by donations","https://gratipay.com/parterburn/",:target=>"_blank"
    %p.muted
      = link_to 'http://twitter.com/parterburn' do
        %span.fa.fa-twitter
        Built by @parterburn
      &nbsp;&middot;&nbsp;        
      = mail_to "hello@#{ENV['MAIN_DOMAIN']}", :encode => "hex" do
        %span.fa.fa-envelope-o
        Contact        
    %p.muted
      = link_to privacy_path do
        %span.fa.fa-lock
        Privacy Policy
      &nbsp;&middot;&nbsp;
      = link_to 'http://github.com/parterburn/dabble.me' do
        %span.fa.fa-github
        View code on GitHub

.j-back-to-top.s-back-to-top
  =link_to "#" do
    %span.fa-stack.fa-sm
      %i.fa.fa-square.fa-stack-2x
      %i.fa.fa-arrow-up.fa-stack-1x.fa-inverse