%nav.navbar.navbar-default.navbar-fixed-top{ role: 'navigation' }
  .container
    .navbar-header
      %button.navbar-toggle{ type: 'button', data: { toggle: 'collapse', target: '.navbar-collapse' } }
        %span.sr-only= t('.toggle_navigation')
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, class: 'navbar-brand', title: "Dabble Me" do
        - if current_user
          %i.fa.fa-pencil-square.fa-spinner
        - else
          =image_tag("dabble_me_pencil_logo.png")

    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        - if user_signed_in?
          %li{:class=>"#{'active' if current_page?(past_entries_path)}"}
            =link_to "View Entries", past_entries_path

          %li{:class=>"#{'active' if current_page?(new_entry_path)}"}
            =link_to "New Entry", new_entry_path

          -if current_user.entries.count > 0
            %li{:class=>"#{'active' if current_page?(random_entry_path)}"}
              =link_to "Random", random_entry_path

          %li
            = link_to entries_calendar_path, title: "Calendar View", data: { toggle: "tooltip", placement: "bottom" } do
              %i.fa.fa-calendar
              %span.visible-xs-inline-block Calendar              

          %li
            = link_to search_path, title: "Search", data: { toggle: "tooltip", placement: "bottom" } do
              %i.fa.fa-search
              %span.visible-xs-inline-block Search

          - if current_user.is_admin?
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %i.fa.fa-lock
                %span.visible-xs-inline-block Admin                
              %ul.dropdown-menu{:role => "menu"}
                %li{:class=>"#{'active' if current_page?(inspirations_path)}"}
                  =link_to inspirations_path, title: "Inspirations" do
                    %i.fa.fa-lightbulb-o
                    &nbsp;Inspirations
                %li{:class=>"#{'active' if current_page?(payments_path)}"}
                  =link_to payments_path, title: "Payments" do
                    %i.fa.fa-usd
                    &nbsp;Payments              
                %li{:class=>"#{'active' if current_page?(admin_path)}"}
                  =link_to admin_path, title: "Admin Numbers" do
                    %i.fa.fa-dashboard
                    &nbsp;Numbers
                %li{:class=>"#{'active' if current_page?(stats_path)}"}
                  =link_to stats_path, title: "Admin Charts" do
                    %i.fa.fa-bar-chart
                    &nbsp;Charts
                %li{:class=>"#{'active' if current_page?(admin_users_path)}"}
                  =link_to admin_users_path, title: "Admin Users" do
                    %i.fa.fa-users
                    &nbsp;Users             

      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          - if current_user.sign_in_count < 10 && !cookies[:viewed_settings] && (current_page?(past_entries_path) || current_page?(root_path))
            - add_popover = "popover_settings"
            - if current_user.frequency.count > 0
              - current_settings = "You will be emailed at <strong>#{current_user.send_time.strftime("%-I %P")} #{current_user.send_timezone}</strong> on <strong>#{current_user.frequencies}</strong>."
            - else
              - current_settings = "Email reminders are currently <strong>disabled</strong>."
          %li{:class=>"#{'active' if current_page?(edit_user_registration_path)}", :rel=>"#{add_popover}", :title=>"", :"data-content"=>"#{current_settings}", :"data-placement"=>"bottom"}
            = link_to edit_user_registration_path do
              %i.fa.fa-gear
              %span.hidden-sm Settings
          %li
            = link_to destroy_user_session_path, method: :delete do
              %i.fa.fa-sign-out
              %span.hidden-sm Logout

        - else
          %li
            = link_to "Sign Up", new_user_registration_path, :class => 'navbar-link'
          %li
            = link_to new_user_session_path, :class => 'navbar-link' do
              %i.fa.fa-sign-in
              Sign In