%nav.navbar.navbar-default.navbar-fixed-top{ role: 'navigation' }
  .container
    .navbar-header
      %button.navbar-toggle{ type: 'button', data: { toggle: 'collapse', target: '.navbar-collapse' } }
        %span.sr-only= t('.toggle_navigation')
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      - if user_signed_in? && current_user.is_pro?
        =link_to new_entry_path, class: 's-write-icon visible-xs' do
          %span.fa-stack.fa-lg
            %i.fa.fa-square-o.fa-stack-2x
            %i.fa.fa-square.fa-stack-2x
            %i.fa.fa-pencil.fa-stack-1x.fa-inverse
      = link_to root_path, class: 'navbar-brand', title: "Dabble Me" do
        %span
          DABBLE ME

    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        - if user_signed_in?
          %li{:class=>"#{'active' if current_page?(past_entries_path)}"}
            =link_to "ENTRIES", past_entries_path

          %li{:class=>"#{'active' if current_page?(new_entry_path)}"}
            =link_to "WRITE", new_entry_path

          -if current_user.entries.count > 0
            %li{:class=>"#{'active' if current_page?(random_entry_path)}"}
              =link_to "RANDOM", random_entry_path

          %li
            = link_to entries_calendar_path, title: "Calendar View", data: { toggle: "tooltip", placement: "bottom" } do
              %i.fa.fa-calendar
              %span.visible-xs-inline-block CALENDAR              

          %li
            = link_to search_path, title: "Search", data: { toggle: "tooltip", placement: "bottom" } do
              %i.fa.fa-search
              %span.visible-xs-inline-block SEARCH

          - if current_user.is_admin?
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %i.fa.fa-lock
                %span.visible-xs-inline-block ADMIN                
              %ul.dropdown-menu{:role => "menu"}
                %li{:class=>"#{'active' if current_page?(inspirations_path)}"}
                  =link_to inspirations_path, title: "Inspirations" do
                    %i.fa.fa-lightbulb-o
                    &nbsp;Inspirations
                %li{:class=>"#{'active' if current_page?(payments_path)}"}
                  =link_to payments_path, title: "Payments" do
                    %i.fa.fa-usd
                    &nbsp;Payments              
                %li{:class=>"#{'active' if current_page?(admin_stats_path)}"}
                  =link_to admin_stats_path, title: "Admin Stats" do
                    %i.fa.fa-bar-chart
                    &nbsp;Stats
                %li{:class=>"#{'active' if current_page?(admin_photos_path)}"}
                  =link_to admin_photos_path, title: "Admin Photos" do
                    %i.fa.fa-picture-o
                    &nbsp;Photos
                %li{:class=>"#{'active' if current_page?(admin_users_path)}"}
                  =link_to admin_users_path, title: "Admin Users" do
                    %i.fa.fa-users
                    &nbsp;Users             

      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          - if current_user.sign_in_count < 10 && !cookies[:viewed_settings] && (current_page?(past_entries_path) || current_page?(root_path))
            - add_popover = "popover_settings"
            - if current_user.frequency.count > 0
              - current_settings = "You will be emailed at <strong>#{current_user.send_time.strftime("%-I %P")} #{current_user.send_timezone}</strong> on <strong>#{current_user.frequencies}</strong>."
            - else
              - current_settings = "Email reminders are currently <strong>disabled</strong>."
          %li{:class=>"#{'active' if current_page?(edit_user_registration_path)}", :rel=>"#{add_popover}", :title=>"", :"data-content"=>"#{current_settings}", :"data-placement"=>"bottom"}
            = link_to edit_user_registration_path do
              %i.fa.fa-gear
              %span.hidden-sm SETTINGS
          %li
            = link_to destroy_user_session_path, method: :delete do
              %i.fa.fa-sign-out
              %span.hidden-sm LOGOUT

        - else
          %li
            = link_to "SIGN UP", new_user_registration_path, :class => 'navbar-link'
          %li
            = link_to new_user_session_path, :class => 'navbar-link' do
              %i.fa.fa-sign-in
              SIGN IN