%nav.navbar.navbar-default.navbar-fixed-top{ role: 'navigation' }
  .container
    .navbar-header
      %button.navbar-toggle{ type: 'button', data: { toggle: 'collapse', target: '.navbar-collapse' } }
        %span.sr-only= t('.toggle_navigation')
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Dabble Me", root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
    
      %ul.nav.navbar-nav
        - if user_signed_in?
          %li{:class=>"#{'active' if current_page?(entries_path)}"}
            =link_to "All Entries", entries_path

          %li{:class=>"#{'active' if current_page?(new_entry_path)}"}
            =link_to "New Entry", new_entry_path

          -if current_user.entries.count > 0
            %li{:class=>"#{'active' if current_page?(random_entry_path)}"}
              =link_to "Random", random_entry_path      

          %li{:class=>"#{'active' if current_page?(import_ohlife_path)}"}
            =link_to "Import OhLife", import_ohlife_path

      %ul.nav.navbar-nav.navbar-right

        - if user_signed_in?
          %li{:class=>"#{'active' if current_page?(edit_user_registration_path)}"}
            = link_to edit_user_registration_path do
              %i.fa.fa-gear
              Settings
          %li
            = link_to destroy_user_session_path, method: :delete do
              %i.fa.fa-sign-out
              Logout

        - else
          %li
            = link_to "Sign Up", new_user_registration_path, :class => 'navbar-link'
          %li
            = link_to new_user_session_path, :class => 'navbar-link' do
              %i.fa.fa-sign-in
              Sign In