<% title "Identity Verification" %>

<div class="row">
  <div class="col-md-8 col-md-offset-2" style="margin-bottom: 40px;">
    <h4><%= I18n.t('explain', :scope => 'devise.otp.credentials_refresh') %></h4>

    <%= form_for(resource, :as => resource_name, :url => [:refresh, resource_name, :otp_credential], :html => { :method => :put, "data-turbo" => false }) do |f| %>

      <%= render "devise/shared/error_messages", resource: resource %>

     <%= f.hidden_field :email %>

      <br>
      <div>
        <%= f.label :password %><br />
        <%= f.password_field :refresh_password, :autocomplete => :off, :autofocus => true, class: "form-control" %>
      </div>
      <br>

      <div><%= f.submit I18n.t(:go_on, :scope => 'devise.otp.credentials_refresh'), class: "btn btn-primary" %></div>
    <% end %>
  </div>
</div>
