- title "Donate to Dabble Me"

.row
  %br
  - if params[:thank].present?
    .col-md-8.col-md-offset-2.alert.alert-success
      %h5
        %strong Thanks for donating via Paypal!
      %br
      Premium features may take up to 24 hours before becoming active, and you'll receive an email when they do.
  .col-md-8.col-md-offset-2
    %h4 
      %strong Dabble Me is a "pay what you can" service.
    %p 
      I've donated my time and servers to keep it running and free for all. The shut down of
      =link_to "OhLife", "http://ohlife.com/shutdown", target: "_blank", class: "alert-link"
      (the inspiration for this site) proves that the longevity of even smaller apps like this take real costs to run. If you enjoy the service, a minimum donation of $3/mo is requested and much appreciated!
    %p
      %strong Donating will keep the site up, and unlock premium features on your account:
      %ul
        %li Change the days that emails are sent
        %li Add new entries via the web
        %li Edit entries
        %li Attach a photo to your entry
        %li Rich text formatting
        %li Calendar view of all your entries (to make sure you've written every day)
        %li Search all of your past entries with support for hashtags

    %br
    %br
    .center
      .col-md-12.alert.alert-success{style: "text-align:center;"}
        %script{:src => "https://gumroad.com/js/gumroad.js", :type => "text/javascript"}
        %h4
          Donating via
          %strong Gumroad
          will activate the Pro features instantly on your account.
        %p{style: "margin-top:20px;"}
          %a.gumroad-button{:href => "https://gumroad.com/l/dabbleme?wanted=true&email=#{current_user.email if current_user}"} Donate Now & Activate Pro Features

      .clearfix
      %br
      .col-md-12
        %p
          %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post", :target => "_top"}
            %span{style: "display: inline-block;height: 35px;vertical-align: middle;margin-right: 5px;"}
              You can also use
              %strong Paypal
              to donate:
            %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}
            %input{:name => "item_name", :type => "hidden", :value => "Dabble Me Pro for #{current_user.email if current_user.present?}"}
            %input{:name => "first_name", :type => "hidden", :value => "#{current_user.first_name if current_user.present?}"}
            %input{:name => "last_name", :type => "hidden", :value => "#{current_user.last_name if current_user.present?}"}
            %input{:name => "email", :type => "hidden", :value => "#{current_user.email if current_user.present?}"}
            %input{:name => "night_phone_a", :type => "hidden", :value => "555"}
            %input{:name => "night_phone_b", :type => "hidden", :value => "555"}
            %input{:name => "night_phone_c", :type => "hidden", :value => "5555"}
            %input{:name => "notify_url", :type => "hidden", :value => "https://dabble.me/payment_notify"}
            %input{:name => "dabble_me_email", :type => "hidden", :value => "#{current_user.email if current_user.present?}"}
            %input{:name => "hosted_button_id", :type => "hidden", :value => "JH22LC48DY8GU"}
            %input{:alt => "PayPal - The safer, easier way to pay online!", :border => "0", :name => "submit", :src => "https://www.paypalobjects.com/en_US/i/btn/btn_subscribe_SM.gif", :type => "image"}
            %img{:alt => "", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1"}