- title "Dabble Me - the free alternative to OhLife"

-if current_user

  - if @last_entry.present?
    .row

      .col-md-2.s-date-groups.j-date-groups.hidden-xs.hidden-sm.s-hide{style:"position:fixed; top:80px; right:60px;"}
        %h3= Time.now.in_time_zone(current_user.send_timezone).strftime("%b %-d")
        - has_past_entries = false
        - 5.times do |year_back| 
          - year_back += 1
          - back_year_entry = current_user.entries.where(:date => (Time.now.in_time_zone(current_user.send_timezone) - year_back.years).strftime("%Y-%m-%d")).first
          - if back_year_entry.present?
            - has_past_entries = true
            %h4
              =link_to "#entry-#{back_year_entry.id}", "data-id": "#{back_year_entry.id}",  class: "j-entry-link" do
                .s-date-left
                  #{pluralize(year_back, "year")} ago
                .clearfix
        - if has_past_entries
          :javascript
            $(".j-date-groups").show();

      - add_class = has_past_entries ? "col-md-offset-1" : "col-md-offset-2"
      .col-md-8{:class=>"#{add_class}"}
        %br
        %h4
          -if current_user.first_name.present?
            Welcome back, #{current_user.first_name}! Here's your latest entry...
          -else
            Welcome back! Here's your latest entry...
        %br
      .col-md-8.col-md-offset-1.well{:id => "entry-#{@last_entry.id}"}
        = render :partial => 'entries/entry', :locals => {:entry => @last_entry}

      - 5.times do |year_back|
        - year_back += 1
        - back_year_entry = current_user.entries.where(:date => (Time.now.in_time_zone(current_user.send_timezone) - year_back.years).strftime("%Y-%m-%d")).first
        - if back_year_entry.present?
          .col-md-8.col-md-offset-1
            %br      
          .col-md-8.col-md-offset-1.well{:id => "entry-#{back_year_entry.id}"}
            = render :partial => 'entries/entry', :locals => {:entry => back_year_entry}

  - else
    .col-md-8.col-md-offset-2
      %br
      %br
      .center
        %p
          %h4 You're all signed up, but don't have any entries!
        %p
          %h4 Check your email - simply reply to that email and you'll see it here.
        %br
        %br
        =link_to "Write your first entry", new_entry_path, :class => "btn btn-primary btn-lg"
        =link_to "Import from OhLife", import_ohlife_path, :class => "btn btn-primary btn-lg"

-else
  .center.s-landing-page
    %h1{title: "Dabble Me"}
      =image_tag("dabble_me_pencil_400.png", alt: "Dabble Me Logo")
    %h2 A free private journal.
    %br
    .col-md-6.col-md-offset-3
      %p
        What were you doing last month? How about last week?
        %br
        Dabble Me helps you remember what's happened in your life.
      %br

  .clearfix
  .center
    = link_to "Sign Up", new_user_registration_path, :class => 'btn btn-info btn-lg col-md-4 col-md-offset-4'
    .clearfix
  %br
  .clearfix

  .col-md-6.col-lg-4.col-lg-offset-2.s-features.top40
    %ul
      %li
        %i.fa.fa-check
        Always private. Never social.
      %li
        %i.fa.fa-check
        Reminders emailed on your schedule
      %li
        %i.fa.fa-check
        Reply-to-post entries
      %li
        %i.fa.fa-check
        Search entries

  .col-md-6.col-lg-5.s-features.top40
    %ul
      %li
        %i.fa.fa-check
        Blasts from the past in your inbox
      %li
        %i.fa.fa-check
        Attach an image to save it with the entry
      %li
        %i.fa.fa-check
        Tag your entries with hashtags
      %li
        %i.fa.fa-check
        =link_to "Plus more Premium Features", donate_path

  .col-md-10.col-lg-offset-2.s-features
    %ul
      %li
        %i.fa.fa-check
        Easily
        =link_to("import your entries & photos from OhLife", ohlife_alternative_path, title: "OhLife Alternative") + ","
        and other OhLife alternatives.
      
  .clearfix
  %br
  %br

