- title "Dabble Me — Your private journal."

.center.s-landing-page
  %h1{title: "Dabble Me", style: "margin-bottom: 0;"}
    =image_tag("dabble_me_pencil_400.png", alt: "Dabble Me Logo", width: 240, height: 50, style: "width: 240px; height: 50px;")
  %h2{style: "margin-top: 5px;"} Your private journal.
  %br
  .col-sm-8.col-sm-offset-2
    %ul.ml-questions
      %li.col-md-6 📆&nbsp; What did you do yesterday?
      %li.col-md-6 🙏&nbsp; What are you grateful for?
      %li.col-md-6 🎯&nbsp; What are you working towards?
      %li.hidden-xs.col-lg-6 🤔&nbsp; What needs processing through?
  .col-sm-12
    %p{style: "font-size: 16px; margin: 15px 0 20px 0; font-weight: 600;"}
      Dabble Me helps you disover, guide, and remember your life.

.clearfix
.center
  = link_to new_user_registration_path, :class => 'btn btn-info btn-lg col-md-4 col-md-offset-4' do
    ✏️&nbsp; WRITE YOUR FIRST ENTRY
  .clearfix

.row{style: "margin-top: 25px;"}
  .col-md-5.col-md-offset-1.col-lg-4.col-lg-offset-2.s-features
    %ul{style: "padding-left: 0;"}
      %li
        %i.fa.fa-check
        &nbsp;Always private. Never social.
      %li
        %i.fa.fa-check
        &nbsp;Reply by email to post entries

  .col-md-5.col-lg-4.s-features
    %ul{style: "padding-left: 0;"}
      %li
        %i.fa.fa-check
        &nbsp;Blasts from the past in your inbox
      %li.hidden-xs
        %i.fa.fa-check
        &nbsp;Daily inspirations for writing

.row
  .col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2.s-features.s-entry-date{style: "margin-top: 0;"}
    %h3{style: "margin: 5px 0; font-size: 14px;"}
      %span{style: "color: #BBB; background-color: #fcfbf9;position: relative; top: 4px;"} PRO FEATURES

.row.flex-end
  .col-md-5.col-md-offset-1.col-lg-4.col-lg-offset-2.s-features
    %ul{style: "padding-left: 0;"}
      %li
        %i.fa.fa-lock
        &nbsp;Attach a photo to your entry
      %li.hidden-xs
        %i.fa.fa-lock
        &nbsp;Add/edit rich-text entries via the web
      %li.hidden-xs
        %i.fa.fa-lock
        &nbsp;Tag your entries with #hashtags

  .col-md-5.col-lg-4.s-features
    %ul{style: "padding-left: 0;"}
      %li
        %i.fa.fa-lock
        &nbsp;Reminders emailed on your schedule
      %li
        %i.fa.fa-lock
        &nbsp;Browse by calendar view or search
      %li
        %i.fa.fa-lock
        =link_to subscribe_path do
          &nbsp;…and more with Dabble Me PRO

.row
  .col-md-8.col-md-offset-2{style: "margin-top: 10px;"}
    .email-window
      %h1.titlebar-mail Inbox — Daily Emails
      %nav.controls-mail
        %a.close-mail{:href => "#"} close
        %a.minimize-mail{:href => "#"} minimize
        %a.maximize-mail{:href => "#"} maximize
      .message-window
        .message-header
          .info
            .from-name
              %strong Dabble Me ✏
            .light-text To: your@email.com
            .email-subject{style: "padding: 2px 0;"} It's #{Time.now.yesterday.strftime("%A, %b %-d")}. How was your day?
          .date.hidden-xs
            .light-text= "#{Time.now.yesterday.strftime("%B %-d, %Y")} 8:00pm"
        .message-content{style: "padding: 20px 25px;"}
          %p Reply to this email with your entry for #{Time.now.yesterday.strftime("%B %-d")}.
          %p
            %strong Remember this? On #{Time.now.yesterday.last_year.strftime("%a, %b %-d, %Y")} (exactly 1 year ago) you wrote...
          %p Had a life changing moment today. Full of love, appreciation, and grateful for what happened today. #Jade become an older sister!
          %p
            %em.small.text-muted Tags: Jade (2 years 3 months)
          %p
            = image_tag "baby.jpg", style: "width: 300px; max-width: 100%;"


.center
  %h4
    %p Read about Dabble Me in...
    %p
      %strong=link_to "INCREASE YOUR HAPPINESS WITH DAILY JOURNALING", "https://medium.com/startup-lesson-learned/increase-your-happiness-with-daily-journaling-8109b0700506", target: "_blank"

.clearfix
%br
%br
