- title "Dabble Me — Privacy Policy"

.row
  .col-md-8.col-md-offset-2.well.s-faqs
    %h2.center Privacy Policy
    %hr
    %p
      We take your privacy very seriously. We believe in protecting your information the same way we want ours protected. This Privacy Policy outlines how we treat your information.

    %h4 Private Journal
    %p
      Your journal entries are always private. The only way you can access them is by logging into your account, or by the emails that are sent to your email address only.
      %br
      %br
      There's no way to share your entries. We don't have any integration with X/Twitter or Facebook, there's no way to make an entry public, and your entries are not searchable by Google. Dabble Me is strictly a private place for you to read and write about how your days went.

    %h4 Data Security
    %p
      At Dabble Me, we prioritize the security and privacy of your journal entries. Here’s how we handle data security:
    %ul
      %li
        %strong Database Security:
        Dabble Me uses a database with encryption at rest, ensuring that your data is protected while stored on our servers. This encryption safeguards your information against unauthorized access.

      %li
        %strong Email as a Medium:
        Given that Dabble Me uses email as the primary medium for reading and writing journal entries, additional encryption layers are not implemented for the journal entries themselves. Implementing such encryption would disrupt the core functionality of our service. If individual encryption is critical for you, we recommend exploring options like DayOne or the iOS Journal app.

      %li
        %strong Password Protection:
        Password fields are encrypted to enhance security and protect your account.

      %li
        %strong 2-Factor Authentication:
        To further secure your account, we offer 2-factor authentication. We highly recommend enabling this feature to add an extra layer of security. You can set it up #{link_to 'here', 'https://dabble.me/users/otp/token'}.

      %li
        %strong Single Owner/Developer:
        Dabble Me is managed by a single owner/developer who is committed to maintaining the privacy and security of your data. Companies with larger teams are more likely to allow access to your data to their employees (unless you
        %i personally
        manage the encryption).

    %h4 Information Collected
    %p
      Dabble Me only collects information it needs so that you can use the service. Your information is never shared or sold to any third parties.

    %p
      If you have opted-in to using the AI-driven features such as Dabble Me GPT, entries <i>are</i> processed by third party services called OpenAI and HuggingFace (for sentiment analysis). Your entries are never stored by either of these services or used to train their models.

    %h4 Follow the Money
    %p Dabble Me is run by a solopreneur and a product that you can depend on. It's independent, and profitably funded by its users for over #{(Date.today.year - Date.parse("2014-09-29").year)} years. No investors. No intent of selling your data by pursuing an exit.

    %h4 Test Run
    %p
      If you're unhappy with the service for any reason, you can delete your account in your
      = link_to("account settings", security_path) + "."
      This permanently deletes your account and all of your entries.

    %h4 Some things we have never done
    %ul
      %li Dabble Me has never turned over our encryption or authentication keys or our customers' encryption or authentication keys to anyone.

      %li Dabble Me has never installed any law enforcement software or equipment anywhere on our network.

      %li Dabble Me has never provided any law enforcement organization a feed of our customers' content transiting our network.

      %li Dabble Me has never modified customer content at the request of law enforcement or another third party.

      %li Dabble Me has never modified the intended destination of DNS responses at the request of law enforcement or another third party.

      %li Dabble Me has never weakened, compromised, or subverted any of its encryption at the request of law enforcement or another third party.

    %h4 Privacy Policy Changes
    %p
      Though most changes will probably be minor, Dabble Me may make changes to its Privacy Policy. If so, the new Privacy Policy will be posted on this page.

    %h4 Questions?
    %p
      Please send us an email at&nbsp;
      %span>=mail_to "hello@#{ENV['MAIN_DOMAIN']}", "hello@#{ENV['MAIN_DOMAIN']}", :encode=>"hex"
      \. We're happy to help out and answer any of your questions.
