- title "Subscribe to Dabble Me PRO"

.row
  %br
  - if params[:thank].present?
    .col-md-8.col-md-offset-2.alert.alert-success
      %h5
        %strong Thanks for subscribing via Paypal!
      %br
      Premium features may take up to 24 hours before becoming active, and you'll receive an email when they do.
  .col-md-8.col-md-offset-2
    %h4 
      %strong Dabble Me PRO is just $3 per month.
    %p
      %strong Subscribing will help keep the site up, and unlock premium features on your account:
      %ul
        %li Change the days that emails are sent
        %li Add new entries via the web
        %li Edit entries
        %li Attach a photo to your entry
        %li Rich text formatting
        %li Calendar view of all your entries (to make sure you've written every day)
        %li Search all of your past entries with support for hashtags

    %br
    %br
    .center
      - if user_signed_in?
        - if current_user.is_pro?
          .col-md-12.alert.alert-info{style: "text-align:center;"}
            Currently subscribed to: 
            %strong #{current_user.plan_details}
            %span{style: "font-size:12px;display:block;margin-top:10px;"} Modify or cancel your subscription at #{current_user.plan_type}.

        - elsif params[:paypal] === 'true'
          %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post", :target => "_top"}
            %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}
            %input{:name => "item_name", :type => "hidden", :value => "Dabble Me PRO for #{current_user.user_key}"}
            %input{:name => "first_name", :type => "hidden", :value => "#{current_user.first_name}"}
            %input{:name => "last_name", :type => "hidden", :value => "#{current_user.last_name}"}
            %input{:name => "email", :type => "hidden", :value => "#{current_user.email}"}
            %input{:name => "night_phone_a", :type => "hidden", :value => "555"}
            %input{:name => "night_phone_b", :type => "hidden", :value => "555"}
            %input{:name => "night_phone_c", :type => "hidden", :value => "5555"}
            %input{:name => "dabble_me_email", :type => "hidden", :value => "#{current_user.email}"}
            %input{:name => "hosted_button_id", :type => "hidden", :value => "#{ENV['PAYPAL_HOSTED_BUTTON_ID']}"}
            %input{:alt => "PayPal - The safer, easier way to pay online!", :border => "0", :name => "submit", :src => "https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif", :type => "image"}
            %img{:alt => "", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1"}

        - else
          .col-md-12.alert.alert-success{style: "text-align:center;"}
            %script{:src => "https://gumroad.com/js/gumroad.js", :type => "text/javascript"}
            %h4
              Subscribe now using any major credit card.
            %p{style: "margin-top:20px;"}
              %a.gumroad-button{:href => "https://gumroad.com/l/dabbleme?email=#{current_user.email}"} Subscribe Now & Activate PRO Features

        .clearfix

      - else
        - session["user_return_to"] = subscribe_path
        .col-md-12{style: "text-align:center;"}
          =link_to "Sign in to subscribe", new_user_session_path, class: "btn btn-primary"
        .clearfix
        %br