- title "Dabble Me — Pricing"

.row
  %br
  .col-md-8.col-md-offset-2
    - unless current_user&.is_pro?
      %h4.text-muted{style: "margin-bottom: 30px;"}
        %span{style: "font-weight: 600;"} Dabble Me is free with limitations.
        %span.text-muted{style: "font-size: 90%; font-weight: 400;"} Email prompts are only sent every other Sunday.
      %hr
      %h3{style: "color: #a41100"} Dabble Me PRO is $3 per month.
      %p.s-features
        %strong
          Subscribing will unlock
          %i{style: "color: #444444;"} all
          premium features on your account. Choose a plan below:

    .center
      - if user_signed_in?
        - if current_user.is_pro?
          .col-md-12.alert.alert-info{style: "text-align:center; font-size: 16px;"}
            Currently subscribed to:
            %strong #{current_user.plan_details.html_safe}
            - if current_user.plan_type.present?
              %span{style: "display:block;margin-top:10px;"}
                Modify or cancel your subscription at
                %strong #{current_user.plan_type.html_safe}
            - else
              %span{style: "display:block;margin-top:10px;"} Your PRO account is being provided free of charge.

        - elsif params[:paypal] === 'true'
          %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post", :target => "_top"}
            %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}
            %input{:name => "item_name", :type => "hidden", :value => "Dabble Me PRO for #{current_user.user_key}"}
            %input{:name => "first_name", :type => "hidden", :value => "#{current_user.first_name}"}
            %input{:name => "last_name", :type => "hidden", :value => "#{current_user.last_name}"}
            %input{:name => "email", :type => "hidden", :value => "#{current_user.email}"}
            %input{:name => "night_phone_a", :type => "hidden", :value => "555"}
            %input{:name => "night_phone_b", :type => "hidden", :value => "555"}
            %input{:name => "night_phone_c", :type => "hidden", :value => "5555"}
            %input{:name => "dabble_me_email", :type => "hidden", :value => "#{current_user.email}"}
            %input{:name => "hosted_button_id", :type => "hidden", :value => "#{ENV['PAYPAL_HOSTED_BUTTON_ID']}"}
            %input{:alt => "PayPal - The safer, easier way to pay online!", :border => "0", :name => "submit", :src => "https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif", :type => "image"}
            %img{:alt => "", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1"}

        - elsif params[:gumroad] === 'true'
          .col-md-12.alert.alert-success{style: "text-align:center;"}
            %script{:src => "https://gumroad.com/js/gumroad.js", :type => "text/javascript"}
            %h4
              Subscribe now using any major credit card.
            %p{style: "margin-top:20px;"}
              %a.gumroad-button{:href => "https://gumroad.com/l/dabbleme?email=#{current_user.email}"} Subscribe Now & Activate PRO Features

        - else
          %div{style: "text-align:center;"}
            .row
              .col-sm-7{style: "margin: 5px auto 0;"}
                = button_to checkout_path(plan: "yearly"), method: "post", style: "height: 55px;", class: "btn btn-success btn-block btn-lg" do
                  $30
                  %span{style: "font-size: 13px; color: #ddd"}<> ／
                  year
                  %br
                  %span{style: "font-size: 12px;margin-top: -2px; display: block;color: #307530;"} 2 months free
              .col-sm-5{style: "margin: 5px auto;"}
                = button_to checkout_path(plan: "monthly"), method: "post", style: "height: 55px;", class: "btn btn-success btn-block btn-lg" do
                  $3
                  %span{style: "font-size: 13px; color: #ddd"}<> ／
                  month
            .clearfix
            #error-message

      - else
        - session["user_return_to"] = subscribe_path
        .col-md-12.alert.alert-success{style: "text-align:center;"}
          .row
            .col-xs-6
              =link_to "Sign Up for PRO", new_user_registration_path, class: "btn btn-success btn-block"
            .col-xs-6
              =link_to "Login to Subscribe", new_user_session_path, class: "btn btn-success btn-block"
    - if user_signed_in? && current_user.is_pro?
      .clearfix
      = render "entries/premium_features", add_class: "s-features"
    - else
      .s-features
        %ul
          %li
            %i.fa.fa-check
            Change the frequency & days that emails are sent
          %li
            %i.fa.fa-check
            Attach a photo to your entry (email or web)
          %li
            %i.fa.fa-check
            Import entries from other services
          %li
            %i.fa.fa-check
            Embed Spotify tracks in your entries
          %li
            %i.fa.fa-check
            Add new entries via the web
          %li
            %i.fa.fa-check
            Edit entries
          %li
            %i.fa.fa-check
            Rich text formatting
          %li
            %i.fa.fa-check
            Calendar view of all your entries
          %li
            %i.fa.fa-check
            Search all of your past entries with support for hashtags
          %li
            %i.fa.fa-check
            Year in Review
%br
%br
%br
