- title "Import OhLife to Dabble Me"

.row
  .col-md-8.col-md-offset-2.s-import
    %h3 Step 1: Import OhLife Entries
    %ol
      %li
        The OhLife exporter has been disabled, but if you already have your file you can use the importer below.
      %li
        Copy/paste the contents of the
        %strong export_2014-09-XX.txt
        text file in the textarea below:
  .clearfix

  = form_for :entry, url: import_ohlife_process_path, method: :put do |f|
    
    .col-md-8.col-md-offset-2
      = f.text_area :text, :class => "form-control", :rows => 10  
      %br

    .col-md-8.col-md-offset-2
      = f.submit "Import Entries", :class => "form-control btn btn-primary"
      %br
      %br
    .clearfix
  %hr
  .well.col-md-8.col-md-offset-2
    .col-md-4.center
      %div
        %h3 Step 2 (beta):
        %h4 Import OhLife Photos
      %br
    - if current_user.donations.sum(:amount) > 0
      = form_tag(import_ohlife_images_path, :multipart => true) do
        .col-md-4.center
          %br
          = label_tag 'zip_file', "Choose ZIP file of photos"
          = file_field_tag 'zip_file', :class=>"center"
          %br
        .col-md-4.center
          %br
          = submit_tag "Upload ZIP File", :class => "btn btn-primary"
          .clearfix
        .clearfix
      .alert.alert-warning.center
        %strong Results may be best if split into ZIP files less than 30 MB.
        %br
        Filenames of photos must match: 
        %strong img_2013-10-31-0.jpg
    - else
      .col-md-8.center.alert.alert-warning.center
        OhLife Photo Import is only available to users who donate.&nbsp;
        =link_to "Donate Now", donate_path, :class=>"btn btn-warning btn-sm"