- title "Import OhLife to Dabble Me"

.row
  .col-md-8.col-md-offset-2.s-import
    %h3 Step 1: Import OhLife Entries
    %ol
      %li
        %strong=link_to "Export your OhLife entries", "http://ohlife.com/export", :target => "_blank"
        %i (hurry - you only have until Oct 11)
      %li
        Copy/paste the contents of the
        %strong export_2014-09-XX.txt
        text file in the textarea below:
  .clearfix

  = form_for :entry, url: import_ohlife_process_path, method: :put do |f|
    
    .col-md-8.col-md-offset-2
      = f.text_area :text, :class => "form-control", :rows => 10  
      %br

    .col-md-8.col-md-offset-2
      = f.submit "Import Entries", :class => "form-control btn btn-primary"
      %br
      %br
    .clearfix
  -if current_user.is_admin?
    %hr
    .well.col-md-8.col-md-offset-2
      .col-md-4.center
        %div
          %h3 Step 2 (beta):
          %h4 Import OhLife Photos
        %br
      = form_tag(import_ohlife_images_path, :multipart => true) do
        .col-md-4.center
          %br
          = label_tag 'zip_file', "Choose ZIP file of photos"
          = file_field_tag 'zip_file', :class=>"center"
          %br
        .col-md-4.center
          %br
          = submit_tag "Upload ZIP File", :class => "btn btn-primary"
          .clearfix
        .clearfix
      .alert.alert-warning.center
        You may need to split up the ZIP file that you downloaded from OhLife into smaller ZIP files.
        %br
        %strong This importer works best with ZIP files less than 20 MB and less than 20 files.
  -else
    %br
    %br