!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p Just reply to this email with your entry for #{Time.now.in_time_zone(@user.send_timezone).strftime("%B %-d")}.
    - if @user.send_past_entry? && @user.entries.count > 5 && @random_entry
      %p
        %b #{@user.throwback_msg} #{@random_entry.time_ago_in_words_or_numbers(@user)} ago you wrote...
      %p
        %div
          = @random_entry.body.html_safe
    - elsif @user.send_past_entry?
      %p
        %b Once you have a few entries you'll see a blast from the past show up here!
    %p
      =link_to "Past entries", "https://#{ENV['MAIN_DOMAIN']}/entries"
      &middot;
      =link_to "Unsubscribe", "https://#{ENV['MAIN_DOMAIN']}/users/edit"
    %hr{:style=>"margin-top: 20px;margin-bottom: 20px;border: 0;border-top: 2px solid whiteSmoke;"}
    %p{style: "color:#CCC"}
      %i=@random_inspiration.body