<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;" name="viewport"/>
    <style>
      a {
        color: #649cc7 !important;
        text-decoration: none !important;
      }
      a:hover {
        color: #3b76a3 !important;
        text-decoration: none!important;
      }
      a.hover-line {
        color: black !important;
        border-bottom: 1px #649cc7 dotted;
        text-decoration: none !important;
      }
      a.hover-line:hover {
        color: black !important;
        border-bottom: 1px #3b76a3 solid;
        text-decoration: none !important;
      } 

      a[x-apple-data-detectors] {
          color: #649cc7 !important;
          text-decoration: none !important;
          font-size: inherit !important;
          font-family: inherit !important;
          font-weight: inherit !important;
          line-height: inherit !important;
      }
      a[x-apple-data-detectors]:hover {
        color: #3b76a3 !important;
        text-decoration: none !important;
      }
      
      u + #body a {
          color: #649cc7 !important;
          text-decoration: none !important;
          font-size: inherit !important;
          font-family: inherit !important;
          font-weight: inherit !important;
          line-height: inherit !important;
      }
      
      #MessageViewBody a {
          color: #649cc7 !important;
          text-decoration: none !important;
          font-size: inherit !important;
          font-family: inherit !important;
          font-weight: inherit !important;
          line-height: inherit !important;
      }      
    </style>
  </head>
  <body>
    <% add_ai = @user.can_ai? ? " (or #{mail_to "#{@user.user_key}@#{ENV['SMTP_DOMAIN'].gsub('post', 'ai')}", "reply to DabbleMeGPT", subject: @send_day.strftime('%A, %b %-d')})".html_safe : "" %>
    <% if @user.entries.size.zero? %>
      <p>
        Reply to this email with your first entry for <%= link_to @send_day.strftime("%B %-d"), new_entry_url(day: @send_day.strftime('%Y-%m-%d')), class: "hover-line" %><%= add_ai %>.
      </p>
    <% elsif @user.days_since_last_post.to_i > 14 %>
      <p>
        Reply to this email with your entry for <%= link_to @send_day.strftime("%B %-d"), new_entry_url(day: @send_day.strftime('%Y-%m-%d')), class: "hover-line" %><%= add_ai %>. It's been <%= ApplicationController.helpers.format_number(@user.days_since_last_post) %> days since your last entry; for inspiration try the 1-1-1 method: 1 win from the day, 1 point of tension, 1 bit of gratitude.
      </p>
    <% elsif @user.writing_streak > 1 %>
      <p>
        Reply to this email with your entry for <%= link_to @send_day.strftime("%B %-d"), new_entry_url(day: @send_day.strftime('%Y-%m-%d')), class: "hover-line" %><%= add_ai %>. You're on a <%= ApplicationController.helpers.format_number(@user.writing_streak) %> day writing streak!
      </p>
    <% else %>
      <p>
        Reply to this email with your entry for <%= link_to @send_day.strftime("%B %-d"), new_entry_url(day: @send_day.strftime('%Y-%m-%d')), class: "hover-line" %><%= add_ai %>.
      </p>
    <% end %>
    <% if @user.send_past_entry? && @user.random_entries.count > 5 && @random_entry %>
      <% show_entry = true %>
      <div style="background-color: #F9F7F3; color: #4a5043; padding: 16px 20px; border-radius: 8px; margin: 16px 0;">
        <p style="margin-top: 0;">
          <b>
            <% format_date  = @random_entry.date.strftime('%a, %b %-d, %Y') %>
            Remember this? On <%= link_to(format_date, day_entry_url(year: @random_entry.date.year, month: @random_entry.date.month, day: @random_entry.date.day), class: "hover-line") %> (<%= @random_entry.time_ago_in_words_or_numbers(@user)%> ago) you wrote...
          </b>
        </p>
        <p>
          <%= format_body(@random_entry.formatted_body) %>
        </p>
        <% if @user.is_pro? && (songs = @random_entry.spotify_track_names).present? %>
          <%= songs %>
        <% end %>
        <% if @user.is_pro? && (hashtags = @random_entry.hashtags).present? %>
          <p style="margin-bottom: 0;">
            <i style="color: #576344;">
              <% h = [] %>
              <% hashtags.each do |tag| %>
                <% add_timeframe = "" %>
                <% if (date = @user.hashtags.select{|h| h.tag&.downcase == tag.downcase}.first&.date).present? %>
                  <% add_timeframe = " <small>(#{ApplicationController.helpers.tag_relative_date(date, @random_entry.date)})</small>".html_safe %>
                <% end %>
                <% h << link_to(tag, search_url(search: {term: tag}), style: 'color: #576344 !important;') + add_timeframe %>
              <% end %>
              <%= "Tags: #{h.join(", ")}".html_safe %>
            </i>
          </p>
        <% end %>
        <% if @user.is_pro? && @random_entry_image_url.present? %>
          <p style="margin-bottom: 0;">
            <%= link_to image_tag(@random_entry_image_url, style: 'max-width: 100%; border-radius: 4px;'), @random_entry_image_url %>
          </p>
        <% end %>
      </div>
    <% elsif @user.send_past_entry? %>
      <p>
        <b>Keep writing...once you have a few entries you'll see a blast from the past show up here!</b>
      </p>
    <% end %>
    <p>
      <% if @user.entries.size.positive? %>
        <%= link_to "All entries", entries_url %>
        &nbsp;&middot;&nbsp;
      <% end %>
      <%= link_to "Unsubscribe", settings_url(user_key: @user.user_key) %>
    </p>
    <% if @user.is_free? || (@random_inspiration.present? && @user.days_since_last_post.to_i <= 14) %>
      <hr style="margin-top: 20px;margin-bottom: 20px;border: 0;border-top: 2px solid whiteSmoke;"/>
    <% end %>
    <p style="color:#A3A3A3">
      <% if @user.is_free? && ENV['FREE_WEEK'] == 'true' %>
        This email is part of Dabble Me FREE WEEK. You'll receive emails this week only on Sun, Wed, and Fri. Like the new frequency? <%= link_to "Subscribe to PRO", subscribe_url %>
      <% elsif @user.is_free? && @user.emails_sent % 2 == 0 %>
        Change the frequency of these emails &amp; unlock premium features: <%= link_to "Subscribe to PRO", subscribe_url %>
      <% elsif @random_inspiration.present? && @user.days_since_last_post.to_i <= 14 %>
        <i><%= @random_inspiration.body.html_safe %></i>
      <% end %>
    </p>
  </body>
</html>
