- if @user.entries.count == 0
  Just reply to this email with your first post for #{Time.now.in_time_zone(@user.send_timezone).strftime("%B %-d")}.
- elsif @user.days_since_last_post.to_i > 20
  It's been #{@user.days_since_last_post} days since your last entry! Reply to this email with your entry for #{Time.now.in_time_zone(@user.send_timezone).strftime("%B %-d")}.
- else
  Reply to this email with your entry for #{Time.now.in_time_zone(@user.send_timezone).strftime("%B %-d")}.
\ 
- if @user.send_past_entry? && @user.random_entries.count > 5 && @random_entry
  - show_entry = true
  - format_date  = @random_entry.date.strftime('%a, %b %-d, %Y')
  Remember this? On #{format_date} (#{@random_entry.time_ago_in_words_or_numbers(@user)} ago) you wrote...
  \ 
  #{@random_entry.sanitized_body}
  \ 
  - if (hashtags = @random_entry.hashtags).present?
    - h = []
    - hashtags.each do |tag|
      - add_timeframe = ""
      - if (date = @user.hashtags.select{|h| h.tag&.downcase == tag.downcase}.first&.date).present?
        - add_timeframe = " (#{distance_of_time_in_words(date, @random_entry.date, false, highest_measures: 2, except: [:weeks, :hour, :minutes, :seconds])})"
      - h << tag + add_timeframe
    = "Tags #{h.join(", ")}"
    \ 
- elsif @user.send_past_entry?
  Keep writing...once you have a few entries you'll see a blast from the past show up here!  
  \ 
- if show_entry
  View Entry: #{day_entry_url(year: @random_entry.date.year, month: @random_entry.date.month, day: @random_entry.date.day)}
  \ 
Past entries: https://#{ENV['MAIN_DOMAIN']}/entries
\ 
Unsubscribe: https://#{ENV['MAIN_DOMAIN']}/settings/#{@user.user_key}
\ 
\=======================================
\ 
- if @user.is_free? && ENV['FREE_WEEK'] == 'true'
  This email is part of Dabble Me FREE WEEK. You'll receive emails this week only on Sun, Wed, and Fri. Like the new frequency? Subscribe to PRO: https://#{ENV['MAIN_DOMAIN']}/subscribe
- elsif @user.is_free? && @user.emails_sent % 2 == 0
  Change the frequency of these emails &amp; unlock premium features, subscribe to PRO: https://#{ENV['MAIN_DOMAIN']}/subscribe
- elsif @random_inspiration.present?
  =strip_tags(@random_inspiration.body.html_safe)
