!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p Just reply to this email with your entry for #{Time.now.strftime("%B %-d")}.
    - if @user.send_past_entry? && @random_entry
      %p
        %b Oh snap, remember this? #{distance_of_time_in_words_to_now(@random_entry.date).titleize} you wrote...
      %p
        %div{:style=>"font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, Georgia, serif;font-size: 15px;"}
          = @random_entry.body.html_safe
    - elsif @user.send_past_entry?
      %p
        %b Send your first entry and you'll see a blast from the past show up here!
    %p
      =link_to "Past entries", "https://dabble.me/entries"
      &middot;
      =link_to "Unsubscribe", "https://dabble.me/users/edit"
    -#
      %p{style: "color:#CCC"}
        %i=@random_inspiration.body
    %p{style: "color:#CCC"}
      Send at #{@user.send_time.strftime('%-l %p')} #{@user.send_timezone} (#{@should_send_time}) on #{@user.frequency} (#{@should_send_date})