!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{name: "viewport", content: "width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;"}
  %body
    - if @user.entries.count == 0
      %p Just reply to this email with your first post for #{Time.now.in_time_zone(@user.send_timezone).strftime("%B %-d")}.
    - elsif @user.days_since_last_post.to_i > 20
      %p It's been #{@user.days_since_last_post} days since your last entry! Reply to this email with your entry for #{Time.now.in_time_zone(@user.send_timezone).strftime("%B %-d")}.
    - else
      %p Reply to this email with your entry for #{Time.now.in_time_zone(@user.send_timezone).strftime("%B %-d")}.
    - if @user.send_past_entry? && @user.entries.count > 5 && @random_entry
      - show_entry = true
      %p
        %b
          - format_date  = @random_entry.date.strftime('%a, %b %-d, %Y')
          Remember this? On #{format_date} (#{@random_entry.time_ago_in_words_or_numbers(@user)} ago) you wrote...
      %p
        = @random_entry.hashtag_body
      - if @random_entry_image_url.present?
        %p
          =link_to image_tag(@random_entry_image_url, style: 'max-width: 100%;'), @random_entry_image_url
    - elsif @user.send_past_entry?
      %p
        %b Keep writing...once you have a few entries you'll see a blast from the past show up here!
    %p
      - if show_entry
        =link_to "View entry", entry_url(@random_entry)
        &middot;
      =link_to "Past entries", "https://#{ENV['MAIN_DOMAIN']}/entries"
      &middot;
      =link_to "Unsubscribe", "https://#{ENV['MAIN_DOMAIN']}/settings/#{@user.user_key}"
    %hr{:style=>"margin-top: 20px;margin-bottom: 20px;border: 0;border-top: 2px solid whiteSmoke;"}
    %p{style: "color:#CCC"}
      - if @user.is_free? && @user.emails_sent % 2 == 0
        Change the frequency of these emails &amp; unlock premium features:
        =link_to "Subscribe to PRO", "https://#{ENV['MAIN_DOMAIN']}/subscribe"
      - elsif @random_inspiration.present?
        %i=@random_inspiration.body