Total sent before: #{@total_sent_before}
<br><br>
Total sent after: #{@total_sent_after}
<br><br>
Should have sent this session: #{@sent_this_session}
<br><br>
Difference from after - before: #{@total_sent_after-@total_sent_before}
<br><br>
Difference from should to actual: #{@sent_this_session-@total_sent_after-@total_sent_before}