- title 'Login to Dabble Me'

.row
  .col-md-4.col-md-offset-4
    %br
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    
    .col-md-4.col-md-offset-4
      = devise_error_messages!
    
    .col-md-4.col-md-offset-4
      = f.label :email
      = f.email_field :email, autofocus: true, :class => "form-control"
      %br
    
    .col-md-4.col-md-offset-4
      = f.label :password
      = f.password_field :password, autocomplete: "off", :class => "form-control"
      %br

      .clearfix

    .col-md-4.col-md-offset-4
      %br
      = f.submit "Login", :class => "btn btn-primary form-control"
      .clearfix
      %br
      %small.text-muted
        %center
          By logging in you aggree to the
          = link_to("terms of service", terms_path) + "."

      .clearfix
      %br
      = render "devise/shared/links"
