- title 'Login to Dabble Me'

.row
  .col-md-6.col-md-offset-3
    %br
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|

    .col-md-6.col-md-offset-3
      = render "devise/shared/error_messages", resource: resource

    .col-md-6.col-md-offset-3
      = f.label :email
      = f.email_field :email, autofocus: true, :class => "form-control", required: true
      %br

    .col-md-6.col-md-offset-3
      = f.label :password
      = f.password_field :password, autocomplete: "off", :class => "form-control", required: true
      %br

    - if devise_mapping.rememberable?
      .col-md-6.col-md-offset-3
        = f.check_box :remember_me
        = f.label :remember_me, "Stay logged in for 2 weeks"
        %br
      .clearfix
      %br

    .col-md-6.col-md-offset-3.text-center
      - if ENV['CI'] != "true" && ENV['TURNSTILE_SITE_KEY'].present?
        = captcha_tags action: "login", data: { theme: "light" }
      = f.submit "Login", :class => "btn btn-primary form-control", style: "border: none; margin-top: 10px;"
      .clearfix
      %br
      %small.text-muted
        %center
          By logging in you aggree to the
          = link_to("terms of service", terms_path) + "."

      .clearfix
      %br
      = render "devise/shared/links"
