- title "Edit Payment on Dabble Me"

.row
  %br
  .col-md-8.col-md-offset-2.well

    = form_for :payment, url: payment_path(@payment), method: :patch do |f|

      -if @payment.errors.any?
        #error_explanation
          .alert.alert-danger
            - @payment.errors.full_messages.each do |msg|
              %p= msg

      %div
        = f.label :date
        .input-group.date
          %span.input-group-addon
            %i.fa.fa-calendar
          = f.text_field :date, :value =>  @payment.date.strftime("%Y-%m-%d"), :placeholder=>"2014-10-31", :class => "form-control"
        %br

      %div
        = f.label :amount
        = f.text_field :amount, :class => "form-control"
        %br

      %div
        = f.label :user_id
        = f.text_field :user_id, :class => "form-control"
        %br

      %div
        = label_tag :user_email
        = text_field_tag :user_email, "#{@payment.user.email if @payment.user}", :class => "form-control"
        %br

      %div
        = label_tag :plan
        = text_field_tag :plan, "#{@payment.user.plan if @payment.user}", :class => "form-control"
        %br

      %div
        = f.label :comments
        = f.text_area :comments, :class => "form-control", :rows => 2
        %br

      %div
        = f.submit "Edit Payment", :class => "form-control btn btn-primary"

:javascript
  var tomorrow = new Date();
  tomorrow.setDate(tomorrow.getDate() + 1);  
  $('.input-group.date').datepicker({
      format: "yyyy-mm-dd",
      todayHighlight: true,
      keyboardNavigation: false,
      endDate: tomorrow,
      autoclose: true,
      todayBtn: "linked"
    });