- title "Payments on Dabble Me"

.row
  .col-md-2
    %p
      =link_to "Add new payment", new_payment_path, class: "btn btn-info"
  .col-md-5
    %p
      %strong
        Total Payments:
        = number_with_delimiter(@payments.length)
        for
        =number_to_currency(@payments.sum(:amount))
    %p
      %strong
        MRR:
        = number_to_currency(@mrr)
  .col-md-5
    %p
      %strong
        Monthly Subs:
        = number_with_delimiter(@monthlys.count)
        for
        = number_to_currency(@monthly_recurring.to_i)
        per month
    %p
      %strong
        Annual Subs:
        = number_with_delimiter(@yearlys.count)
        for
        =number_to_currency(@annual_recurring.to_i)
        per year

.row
  .col-md-1
    %h4 Actions
  .col-md-2
    %h4 Date
  .col-md-1
    %h4 Amount
  .col-md-3
    %h4 User
  .col-md-2
    %h4 Plan
  .col-md-3
    %h4 Comments

- @paginated_payments.each do |payment|
  .row.s-inspiration-admin
    .col-md-1
      =link_to edit_payment_path(payment), :class=>"noline", title: "Edit Payment" do
        %i.fa.fa-pencil
      &nbsp;
      = link_to payment_path(payment), title: "Delete Payment", class: "s-delete", method: :delete, data: { confirm: 'Are you sure you want to delete this payment? There is no undo.' } do
        %i.fa.fa-trash
    .col-md-2
      =payment.date.strftime("%Y-%m-%d")
    .col-md-1
      =number_to_currency(number_with_delimiter(payment.amount))
    .col-md-3
      - if payment.user
        =payment.user.email
      - else
        =payment.user_id
    .col-md-2
      - if payment.user
        =payment.user.plan
    .col-md-3
      =payment.comments

.row
  .col-md-12
    .center
      = paginate @paginated_payments