- title "Search Your Entries on Dabble Me"
- add_class = 'blur' if current_user.is_free?

.row
  - if current_user.is_free?
    .col-md-8.col-md-offset-2
      .alert.alert-warning
        =link_to "Subscribe now", subscribe_path, class: "alert-link"
        to unlock the ability to search your entries, and see which tags are used most.
  .col-md-8.col-md-offset-2
    %br
    = form_for @search, url: search_path, method: :get, html: { class: "form-horizontal" } do |f|
      .form-group
        .col-xs-8.col-sm-10
          = f.text_field :term, class: "form-control input-lg s-search-with-clear", autofocus: true, placeholder: "What are you looking for?"
          - if @search.term.present?
            =link_to search_path, class: "s-clear-search", rel: "tooltip", title: "Clear search" do
              %i.fa.fa-times-circle
        .col-xs-4.col-sm-1
          = f.submit "Search", class: "btn btn-primary btn-lg"

    - if current_user.is_free?
      %p
        %strong No results.
        =link_to "Subscribe to PRO to use search.", subscribe_path
    - elsif @entries.present?
      - search_entries = Kaminari.paginate_array(@entries).page(params[:page]).per(params[:per])
      %p
        - all_entries_count = current_user.entries.count
        - found_entries_count = @entries.count
        #{number_to_percentage(found_entries_count.to_f/all_entries_count.to_f*100, precision: 0)} of #{params[:admin].present? ? "ALL" : "your"} entries mention
        %mark= @search.term
        (#{pluralize(found_entries_count, "entry")})
        %br
      .col-md-12
        .center
          = paginate search_entries

      - search_entries.each do |entry|
        %br
        .col-md-12.well{:id => "entry-#{entry.id}"}
          = render partial: 'entries/entry', locals: { entry: entry }

      .col-md-12
        .center
          = paginate search_entries

    - elsif @search.term.present?
      %p
        Sorry, no entries include
        = succeed "." do
          %mark= @search.term
    - else
      - if @hashtags.length > 0
        - @hashtags.each do |hashtag|
          - class_size = (hashtag[1].size.to_f / @hashtags.size * (3 - 1)).round
          =link_to hashtag[0], search_path(search: { term: hashtag[0] }), class: "s-hashtag s-hashtag-size-#{class_size}"
      - else
        .alert.alert-info
          %i Tip:
          Use hashtags throughout your entries and you'll see a tag cloud appear here making it easy to search for posts containing those hashtags.