- title "Search Your Entries on Dabble Me"
- add_class = 'blur' if current_user.is_free?

.row
  - if current_user.is_free?
    - add_class = 'blur'
    .col-md-8.col-md-offset-2
      .alert.alert-warning
        =link_to "Subscribe now", subscribe_path, class: "alert-link"
        to search your entries and see which tags are used most.

  .col-md-8.col-md-offset-2
    %br
    = form_for @search, url: search_path, method: :get, html: { class: "form-horizontal" } do |f|
      .form-group
        .col-xs-8.col-sm-10
          = f.text_field :term, class: "form-control input-lg s-search-with-clear", autofocus: true, placeholder: "What are you looking for?"
          - if @search.term.present?
            =link_to search_path, class: "s-clear-search", rel: "tooltip", title: "Clear search" do
              %i.fa.fa-times-circle
        .col-xs-4.col-sm-1
          = f.submit "Search", class: "btn btn-primary btn-lg"

    - if @search.term.present? && current_user.is_free?
      .alert.alert-danger
        %strong
          No results shown.
          =link_to "SUBSCRIBE TO PRO TO USE SEARCH", subscribe_path, class: "alert-link pull-right"
    - elsif @entries.present?
      - search_entries = Kaminari.paginate_array(@entries).page(params[:page]).per(params[:per])
      %p
        - all_entries_count = current_user.entries.count
        - found_entries_count = @entries.count
        #{number_to_percentage(found_entries_count.to_f/all_entries_count.to_f*100, precision: 0)} of #{params[:admin].present? ? "ALL" : "your"} entries mention
        %mark= @search.term
        (#{pluralize(found_entries_count, "entry")})
        %br
      .col-md-12
        .center
          = paginate search_entries

      - search_entries.each do |entry|
        .row
          .col-md-12.well.entry{:id => "entry-#{entry.id}"}
            = render partial: 'entries/entry', locals: { entry: entry }

      .col-md-12
        .center
          = paginate search_entries

    - elsif @search.term.present?
      %p
        Sorry, no entries include
        = succeed "." do
          %mark= @search.term

    - if @search.term.blank?
      .alert.alert-info
        - if @hashtags.length > 0
          %div{:style => "margin-bottom: 5px;"}
            %small
              %strong YOUR TAGS
          .hashtags
            - @hashtags.each do |hashtag|
              - class_size = (hashtag[1].size.to_f / @hashtags.size * (3 - 1)).round
              - add_class = current_user.is_free? ? "s-hashtag-size-0" : "s-hashtag-size-#{class_size}"
              =link_to hashtag[0], search_path(search: { term: "##{hashtag[0]}" }), class: "s-hashtag #{add_class}"
        - else
          - if current_user.is_free?
            Pro users can use
          - else
            %i Tip: Use
          hashtags throughout your entries and you'll see a tag cloud appear here making it easy to search for posts containing those hashtags.
