- title "Search Your Entries on Dabble Me"
- add_class = 'blur' if current_user.is_free?

.row
  - if @search.term.blank? && current_user.is_free?
    .col-md-8.col-md-offset-2
      .alert.alert-warning{style: "min-height: 45px;"}
        =link_to subscribe_path, class: "float-left", style: "margin-top: -7px;" do
          %button.btn.btn-warning Subscribe Now
        %strong Dabble Me PRO
        for $3/mo unlocks search and to see which tags are used most.
    .clearfix

  .col-md-8.col-md-offset-2
    %br
    = form_for @search, url: search_path, method: :get, html: { class: "form-horizontal" } do |f|
      .form-group
        .col-xs-8.col-sm-9{style: "padding-right: 0px;"}
          = f.text_field :term, class: "form-control input-lg s-search-with-clear", autofocus: true, placeholder: "What are you looking for?"
          - if @search.term.present?
            =link_to search_path, class: "s-clear-search", rel: "tooltip", title: "Clear search" do
              %i.fa.fa-times-circle
        .col-xs-4.col-sm-3
          = f.submit "Search", class: "btn btn-primary btn-lg", style: "max-width: 110px;"
          = link_to random_entry_path, title: "Random Entry", rel: "tooltip", style: "width: 20%; margin-left: 15px; top: 2px; position: relative;" do
            %i.fa.fa-random

    - if @search.term.present? && current_user.is_free?
      .alert.alert-danger
        You must be subscribed to PRO to use search.
      = render "entries/pro_upgrade"
    - elsif @entries.present?
      - search_entries = Kaminari.paginate_array(@entries).page(params[:page]).per(params[:per])
      %p
        - all_entries_count = current_user.entries.count
        - found_entries_count = @entries.count
        #{number_to_percentage(found_entries_count.to_f/all_entries_count.to_f*100, precision: 0)} of #{params[:admin].present? ? "ALL" : "your"} entries mention
        %mark= @search.term
        (#{pluralize(found_entries_count, "entry")})
        %br
      .col-md-12
        .center
          = paginate search_entries

      - search_entries.each do |entry|
        .row
          .col-md-12.well.entry{:id => "entry-#{entry.id}"}
            = render partial: 'entries/entry', locals: { entry: entry }

      .col-md-12
        .center
          = paginate search_entries

      .col-md-12
        .center
          = link_to export_entries_path(search: { term: @search.term }, format: :txt), class: "btn btn-default", style: "margin: 15px auto;" do
            %i.fa.fa-download
            Export Search Entries

    - elsif @search.term.present?
      %p
        Sorry, no entries include
        = succeed "." do
          %mark= @search.term

    - if @search.term.blank?
      .alert.alert-info
        - if @hashtags.length > 0
          %div{:style => "margin-bottom: 5px;"}
            %small
              %strong YOUR TAGS
          .hashtags
            - @hashtags.each do |k, v|
              - class_size = (v.to_f / @hashtags.count * (3 - 1)).round
              - add_class = current_user.is_free? ? "s-hashtag-size-0" : "s-hashtag-size-#{class_size}"
              =link_to k, search_path(search: { term: "##{k}" }), class: "s-hashtag #{add_class}"
        - else
          - if current_user.is_free?
            Pro users can use
          - else
            %i Tip: Use
          hashtags throughout your entries and you'll see a tag cloud appear here making it easy to search for posts containing those hashtags.
