%table.table.table-striped.table-hover
  %tr
    %th Email
    %th Upgraded
    %th Paid
    %th Entries
    %th Per day
  - upgrades.each do |user|
    %tr{:class => @dashboard.paid_status_for(user)}
      %td= user.email
      %td= l(user.first_payment_date.to_date, format: :month_day)
      %td= user.payments.sum(:amount)
      %td= user.entries_count
      %td= @dashboard.entries_per_day_for(user)
