!!!
%html{ lang: I18n.locale.to_s }
  %head
    %title= yield_or_default :title, action_name.titlecase
    %meta{ charset: 'utf-8' }
    %meta{ httpEquiv: "Content-Type", content: "text/html; charset=ISO-8859-1"}
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0' }
    %meta{ content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible' }
    = csrf_meta_tags
    = yield :head
    = render 'shared/favicons_and_metatags'
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

    :javascript
      window.action = '#{@js_action}';

    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      = javascript_include_tag '//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js', 'respond.js'

    = analytics_init(anonymize: true) if Rails.env.production?

    - if Rails.env.production?
      = javascript_include_tag "https://www.googletagmanager.com/gtag/js?id=#{ENV['GOOGLE_ANALYTICS_4_ID']}", async: true
      :javascript
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', "#{ENV['GOOGLE_ANALYTICS_4_ID']}", {
          'anonymize_ip': true
        });

  %body
    #wrap
      = render 'shared/navbar'

      #main-container.clear-top{class: "#{params[:controller].in?(['admin', 'payments', 'inspirations']) ? 'container-fluid' : 'container'}"}
        - if notice
          .col-md-8.col-md-offset-2.alert.alert-success= notice.html_safe
          .clearfix
        - if alert && alert.class == Array
          - alert.each do |message|
            .col-md-8.col-md-offset-2
              .alert.alert-danger= message
        - elsif alert
          .col-md-8.col-md-offset-2.alert.alert-danger= alert.html_safe
          .clearfix

        = yield

    = render 'shared/footer'
