!!!
%html{ lang: I18n.locale.to_s }
  %head
    %title= yield_or_default :title, action_name.titlecase
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0' }
    %meta{ content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible' }
    = csrf_meta_tags
    = yield :head

    = render 'shared/favicons'

    = stylesheet_link_tag 'application', media: 'all'

    = javascript_include_tag 'application'
    = filepicker_js_include_tag

    :javascript
      window.action = '#{@js_action}';

    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      = javascript_include_tag '//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js', 'respond.js'

    = analytics_init if Rails.env.production?

  %body  
    #wrap
      = render 'shared/navbar'

      #main-container.container.clear-top
        - if user_signed_in? && current_user.donations.sum(:amount) == 0 && current_user.sign_in_count > 1 && !cookies[:donated] && ( current_page?(root_path) || @js_action == "Entries_index")
          .alert.alert-info.alert-dismissible.hidden-xs
            %button.close.j-paid{"data-dismiss" => "alert", :type => "button"}
              %span{"aria-hidden" => "true"} &#215;
              %span.sr-only Close
            =link_to donate_path,:class=>"j-paid float-left" do
              %button.btn.btn-success Pay Now
            %strong Dabble Me is a "pay what you can" service. The shut down of
            =link_to "OhLife", "http://ohlife.com/shutdown", target: "_blank", class: "alert-link"
            (the inspiration for this site) proves that the longevity of even smaller apps like this take real costs to run. If you enjoy the service and want it to continue, a minimum donation of $3/mo is requested and much appreciated!
            .clearfix

        - if notice
          .alert.alert-success= notice.html_safe
        - if alert
          .alert.alert-danger= alert.html_safe
          
        = yield

    = render 'shared/footer'